{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}
{% load i18n %}

<meta content="AtomSolutions,Eternalcoin,Eternaltoken" name="keywords">
<meta content="" name="description">
<title>{% trans "Media Gallery|AtomSolutions" %}</title>



<!--<div class="page-bg"></div>-->
<div class="page-ttl">
    <div class="wrap spaceL">
        <h1 class="ttlPage">{% trans "MEDIA GALLERY" %}</h1>
    </div><!-- /.wrap -->
</div><!-- /.page-ttl -->
<ul class="blk_btn_media">
    <li><a href="{% url 'atomhome:media' %}">{% trans "Overseas" %}</a></li>
    <li>{% trans "in Japan" %}</li>
</ul>
<div class="blk_media">
    <div class="blk">


        <div class="col_media"><a href="https://www.atpress.ne.jp/news/83357" target="_blank">
                <img src="{% static "atomhome/img/en/media/0111_4.png" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/atpress.png" %}" class="bl_media">
                    <p>エターナルコインのサービス拡充のため、株式会社シーズと提携し 次世代LBSの共同開発などで、使いやすい仮想通貨を目指すと発表</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://news.infoseek.co.jp/article/atpress_75175/" target="_blank">
                <img src="{% static "atomhome/img/en/media/0111_5.png" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/infoseek.png" %}" class="bl_media">
                    <p>エターナルウォレットに新機能『DOT機能』を追加　エターナルコイン保有量に応じ取引手数料を分配する</p>
                </div>
            </a></div>
        <div class="col_media"><a href="http://nextmoney.jp/?p=13619" target="_blank">
                <img src="{% static "atomhome/img/en/media/0111_6.png" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/nextmoney.png" %}" class="bl_media">
                    <p>【12/27】今日の爆上げ仮想通貨TOP5！！</p>
                </div>
            </a></div>



        <div class="col_media"><a href="http://www.biz-hacks.com/pressrelease/?id=101751" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_1.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/biz-hacks.gif" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始 株式会社アトムソリューションズ</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://news.nicovideo.jp/watch/nw4468236?news_ref=media342_media342"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_2.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/newsnicovideo.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a
                href="https://www.asahi.com/and_M/information/pressrelease/CATP2018173858.html?iref=andMtop_pressreleaselist"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_3.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/asahi.jpg" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://business.nifty.com/cs/catalog/business_release/catalog_atp173858_1.htm"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_4.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/businessnifty.gif" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://www.atpress.ne.jp/news/173858" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_5.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/atpress.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://barclay-global.biz/oversea/?p=127098" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_6.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/barclayglobal.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://news.biglobe.ne.jp/economy/1226/atp_181226_4773082456.html"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_7.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/biglobe.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="http://www.bizocean.jp/news/pr/" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_8.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/bizocean.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="http://www.blogpeople.net/press_detail.html?pr_id=173858&charset=UTF-8"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_9.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/blogpeople.gif" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://news.infoseek.co.jp/article/atpress_173858/" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_10.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/infoseek.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="http://news.line.me/article/feed/1842488c7a2f" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_11.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/line.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://news.nplus-inc.co.jp/index.php?action=ViewDetail&number=462507"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_12.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/nplus.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://www.rbbtoday.com/ad/atpress/release.html?pr_id=173858&charset=UTF-8"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_13.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/rbbtoday.gif" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="http://rentaloffice.bz/" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_14.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/rentaloffice.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a
                href="https://resemom.jp/feature/newsrelease/atpress/press_detail.html?pr_id=173858&charset=UTF-8"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_15.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/resemom.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a
                href="https://response.jp/feature/newsrelease/atpress/press_detail.html?pr_id=173858&charset=UTF-8"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_16.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/response.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="http://www.sankeibiz.jp/business/news/181226/prl1812261203064-n1.htm"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_17.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/sankeibiz.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://www.sanspo.com/geino/news/20181226/prl18122612030078-n1.html"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_18.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/sanspo.gif" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="http://www.seotools.jp/news/id_at_173858.html" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_19.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/seotools.gif" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="http://home.kingsoft.jp/news/pr/atpress/173858.html" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_20.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/starthome.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://www.zakzak.co.jp/eco/news/181226/prl1812260076-n1.html" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_21.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/zakzak.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="http://www.quickorder.jp/q_news/banneta/index.php" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_22.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/quickorder.gif" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://www.topics.or.jp/ud/pressrelease/5c22eff87765619365090000"
                target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_23.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/tokushima.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://www.zaikei.co.jp/releases/735927/" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_24.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/zaikei.jpg" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://www.excite.co.jp/news/article/Atpress_173858/" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_25.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/excite.png" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始 (2018年12月26日)</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://news.toremaga.com/economy/ewhole/1248016.html" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_26.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/toremaga.gif" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始 – とれまがニュース</p>
                </div>
            </a></div>
        <div class="col_media"><a href="https://www.mapion.co.jp/news/release/ap173858-all/" target="_blank">
                <img src="{% static "atomhome/img/en/media/1227_27.jpg" %}" class="tmb_media">
                <div>
                    <img src="{% static "atomhome/img/en/media/mapion.gif" %}" class="bl_media">
                    <p>アトムソリューションズ、世界一安い海外送金サービス『EVOR』を2019年3月に開始：マピオンニュース</p>
                </div>
            </a></div>
    </div>
</div><!-- /.blk_media -->
{% include 'atomhome/include/en/footer.html' %}


<script src="{% static "atomhome/js/common.js" %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138678906-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-138678906-1');
</script>