{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}
{% load i18n %}

<meta content="" name="keywords">
<meta content="" name="description">
<title>{% trans "NEWS LIST|AtomSolutions" %}</title>



<div class="page-bg"></div>
<div class="page-ttl">
	<div class="wrap spaceL">
		<h1 class="ttlPage">{% trans "NEWS LIST" %}</h1>
	</div><!-- /.wrap -->
</div><!-- /.page-ttl -->

<div class="newsarea">
	<div>
		<ul class="blk_btn_media" style="padding-bottom: 5px; padding-top: 5px;">
				<li><a href="{% url 'atomhome:news' %}">{% trans "in English" %}</a></li>
				<li>{% trans "in Japan" %}</li>
			</ul>
		</div>
	<div class="top3">
		<div class="wrap spaceL">
			<div class="col">
				<div class="news" id="js-load">
					{% for post in object_list %}
					<dl class="js-load">
						<dt>{{post.created|date:'Y.m.d'}}</dt>
						<dd><a href="{% url 'atomhome:detailsjp' post.id %}" target="_blank">{{post.title|truncatechars:50}}
								
								<span class="newtx"> {{ post.get_label|safe }}</span></a></dd>

						
						
					</dl>
					{% endfor %}
					<div id="js-btn-wrap" class="btn_more_list">
					{% if is_paginated %}

					{% if page_obj.has_previous %}
					  <a class="btn btn-outline-info mb-4" href="?page=1">{% trans "First" %}</a>
					  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">{% trans "Prev" %}</a>
					{% endif %}
			  
					{% for num in page_obj.paginator.page_range %}
					  {% if page_obj.number == num %}
						<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
					  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
						<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
					  {% endif %}
					{% endfor %}
			  
					{% if page_obj.has_next %}
					  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
					  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %}</a>
					{% endif %}
				</div>
				  {% endif %}
					
				</div><!-- /.news -->
			</div><!-- /.col -->
		</div><!-- /.wrap -->
	</div><!-- /.top3 -->
</div><!-- /.newspage -->
{% include 'atomhome/include/en/footer.html' %}

<script src="{% static "atomhome/js/common.js" %}"></script>

<!-- MORE -->
<script>
	$(window).on('load', function () {
		load('#js-load', '20');
		$("#js-btn-wrap a").on("click", function () {
			load('#js-load', '20', '#js-btn-wrap');
		})
	});
	function load(id, cnt, btn) {
		var items_list = id + " .js-load:not(.active)";
		var items_length = $(items_list).length;
		var items_total_cnt;
		if (cnt < items_length) {
			items_total_cnt = cnt;
		} else {
			items_total_cnt = items_length;
			$(btn).hide();
		}
		$(items_list + ":lt(" + items_total_cnt + ")").addClass("active");
	}
</script>
<!-- MORE -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-108481174-1');
</script>