{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}

<meta content="" name="keywords">
<meta content="" name="description">
<title>OUTLINE|AtomSolutions</title>

<div class="company-main">
    <div class="wrap spaceL">
        <img src="{% static "atomhome/img/en/company-main.jpg" %}" alt="ATOM SOLUTIONS">
    </div><!-- /.wrap -->
    <div class="ico-scroll">
        <img src="{% static "atomhome/img/en/ico-scroll.png" %}" alt="SCROLL" class="ico-down">
        <span>SCROLL</span>
    </div><!-- /.ico-scroll -->
</div><!-- /.company-main -->
<div class="cts_com">
    <div class="wrap spaceL">
        <div class="col_box">
            <p class="com_txt_front">Atom Solutions Co., Ltd. was founded by Hiroyuki Fujino on May of 2010. The company
                was developed and founded because of the outburst technology of the Blockchain industry. The company
                provides system development programs for including but not limited to Virtual Currencies and Blockchain
                technology as well as consultant services in Virtual Currency Exchange Operation & Management.</p>
            <h2 class="ttlM">ROAD MAP</h2>
            <div class="cts_roadmap">
                <p class="rm_year">2019</p>
                <dl>
                    <dt>April</dt>
                    <dd>XET has passed Smart Contract Security Audit by BEOSIN</dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd>Released introductory video of 'EVOR' our new exchange service</dd>
                </dl>
                <dl>
                    <dt>March</dt>
                    <dd>XET project has acquired " B " from TokenInsight assessment.</dd>
                </dl>
                <dl>
                    <dt>February</dt>
                    <dd>One-Touch Transfer" Patent, Approved Successfully</dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>Formed Business Partnership with CIS Bayad Center</dd>
                </dl>
                <dl>
                    <dt>January</dt>
                    <dd>Listed and Started trading of XET on Instantbitex and OEX</dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd>Trademark Registered</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year">2018</p>
                <dl>
                    <dt>December</dt>
                    <dd>Value Division and DOT Patents Acquired</dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>Eternal Token (XET) is now 40th on the ranking site!</dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>World’s Lowest Overseas Remittance Service Simulator Is now AVAILABLE!</dd>
                </dl>
                <dl>
                    <dt>November</dt>
                    <dd>PCT Patent filed.</dd>
                </dl>
                <dl>
                    <dt>October</dt>
                    <dd>Attended Blockchain & Digital Innovation Event, Delta Summit in Malta.</dd>
                </dl>
                <dl>
                    <dt>September</dt>
                    <dd>Partnership with Eternal Wallet PH Holdings</dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>Eternal Token (XET) is now 50th on the ranking site!</dd>
                </dl>
                <dl>
                    <dt>August</dt>
                    <dd>Listed XET on CoinMarketCap and other major ranking websites.</dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>Eternal Token (XET) is now 110th on the ranking site!</dd>
                </dl>
                <dl>
                    <dt>June</dt>
                    <dd>Partnership with H&B Exchange and started trading XET on Idax</dd>
                </dl>
                <dl>
                    <dt>May</dt>
                    <dd>Developed and launched of Eternal Token (XET)</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">2017</p>
                <dl>
                    <dt> </dt>
                    <dd>Developed and launched of ELook Application</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year">2016</p>
                <dl>
                    <dt>May</dt>
                    <dd>Partnership and started of Korea Authorized Exchange</dd>
                </dl>
                <dl>
                    <dt>March</dt>
                    <dd>Eternal Square has reached 100 merchants</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year">2015</p>
                <dl>
                    <dt>December</dt>
                    <dd>Partnership and started of Hong Kong Authorized Exchange</dd>
                </dl>
                <dl>
                    <dt>September</dt>
                    <dd>Partnership and started of Philippine Authorized Exchange</dd>
                </dl>
                <dl>
                    <dt>January</dt>
                    <dd>Released Eternal Coin and started service of Eternal Wallet</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">2014</p>
                <dl>
                    <dt> </dt>
                    <dd>Drafting and consulting to first Eternal Coin authorized Exchange (Japan)</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">2013</p>
                <dl>
                    <dt> </dt>
                    <dd>Developing Eternal Coin and Eternal Wallet</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">2012</p>
                <dl>
                    <dt> </dt>
                    <dd>Drafting ideas of Blockchain business</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">2011</p>
                <dl>
                    <dt> </dt>
                    <dd>Recruitment and marketing research</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">2010</p>
                <dl>
                    <dt> </dt>
                    <dd>Established of Atom Solutions with Capital at 95 Million yen.</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com -->
<div class="cts_com_vision">
    <div class="wrap spaceL">
        <h2 class="ttlM">OUR VISION</h2>
        <p>To be the leading Virtual Currency Exchange & Blockchain company and to bring inspiration and innovation to
            the world.</p>
    </div><!-- /.wrap -->
</div><!-- /.cts_com_vision -->
<div class="cts_com_v voice01">
    <div class="wrap spaceL">
        <div class="col_box">
            <h2 class="ttlB">Become the leading company in Financial Technology (Fin-Tech) Industry</h2>
            <p>Being one of the expeditious software industry, we always demonstrate our potential ability by moving
                forward and always one step ahead of other company.. We aim to become a leading company using our own
                technical capabilities and innovative ideas in both software and virtual currency industries.</p>
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com_v -->
<div class="cts_com_v voice02">
    <div class="wrap spaceL">
        <div class="col_box">
            <h2 class="ttlB">Professional ITs</h2>
            <p>We have professional IT team and solutions to meet the requirements of our clients and eventually to the
                society in general. We are a group of high valued engineers who never stop in acquiring the latest
                knowledge.</p>
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com_v -->
<div class="cts_com_v voice03">
    <div class="wrap spaceL">
        <div class="col_box">
            <h2 class="ttlB">Healthy Company</h2>
            <p>We believe that companies with healthy management structures and attitudes will produce high quality of
                human resources. We strive to bring a sense of relaxation and happiness to our customers, employees, and
                their families.</p>
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com_v -->
<div class="cts_com_v voice04">
    <div class="wrap spaceL">
        <div class="col_box">
            <h2 class="ttlB">MISSION</h2>
            <p>We intend to improve the efficiency of financial services by reducing cost and creating a convenient
                transaction system.</p>
            <p>We strive to achieve the highest technical expertise, while bringing unique Japanese sensitivity into the
                business of virtual currencies.</p>
            <p>Our goal is to create and provide future financial services to our customers not only in Asia but also in
                the world.</p>
            <p>You can find other ETERNAL COIN authorized exchanges in the world.</p>
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com_v -->

<div class="cts_com_map">
    <div class="wrap spaceL">
        <img src="{% static "atomhome/img/en/com_map.png" %}" class="com_map">
        <div class="com_exchanges">
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico-el.png" %}" alt="JAPAN">
                </div><!-- /.ico -->
                <div class="txt">JAPAN</div>
            </div><!-- /.col -->
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico-th.png" %}" alt="PHILIPPINES">
                </div><!-- /.ico -->
                <div class="txt">PHILIPPINES</div>
            </div><!-- /.col -->
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico-eh.png" %}" alt="HONG KONG">
                </div><!-- /.ico -->
                <div class="txt">HONG KONG</div>
            </div><!-- /.col -->
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico-ek.png" %}" alt="KOREA">
                </div><!-- /.ico -->
                <div class="txt">KOREA</div>
            </div><!-- /.col -->
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico-eeal_off.png" %}" alt="KENYA">
                </div><!-- /.ico -->
                <div class="txt off">KENYA</div>
            </div><!-- /.col -->
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico_comingsoon.png" %}" alt="MONGOLIA">
                </div><!-- /.ico -->
                <div class="txt off">MONGOLIA</div>
            </div><!-- /.col -->
        </div><!-- /.com_exchanges -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com_map -->
<div class="outline">
    <div class="wrap spaceL">
        <div class="col">
            <h2 class="ttlM">OUTLINE</h2>
            <table>
                <tr>
                    <th>Company Name</th>
                    <td>ATOM SOLUTIONS CO., LTD.</td>
                </tr>
                <tr>
                    <th>Company Address</th>
                    <td>5F Sei Bi Do Bldg, 2-31-16 Eitai Kouto-Ku, 135-0034, Tokyo</td>
                </tr>
                <tr>
                    <th>Inquiry</th>
                    <td>info@atom-solutions.jp</td>
                </tr>
                <tr>
                    <th>President</th>
                    <td>Hiroyuki Fujino</td>
                </tr>
                <tr>
                    <th>Capital Investment</th>
                    <td>95,000,000 JPY</td>
                </tr>
            </table>
        </div><!-- /.col -->
    </div><!-- /.wrap -->
</div><!-- /.outline -->
{% include 'atomhome/include/en/footer.html' %}

<script src="{% static "atomhome/js/common.js" %}"></script> <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>