{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}
{% load i18n %}


<meta content="" name="keywords">
<meta content="" name="description">
<title>{% trans "CONTACT|AtomSolutions" %}</title>


<div class="page-bg"></div>
<div class="page-ttl">
    <div class="wrap spaceL">
        <h1 class="ttlPage">{% trans "CONTACT" %}</h1>
    </div><!-- /.wrap -->
</div><!-- /.page-ttl -->
<div class="contact">
    <div class="wrap spaceL">
        <div class="col">
			{% get_current_language as lang %}
			{% if lang == "en-us" %}
            <p class="txt-center">{% trans "Should you have any questions, please feel free to contact us<br>from the following
                email address.<br>We will be in touch as soon as possible. Thank you!</p>
            <p class="txt-center"><a href="mailto:info@atom-solutions.jp"
                    style="font-size:  2.0rem;color: #cd002c;font-weight: 700;">info@atom-solutions.jp</a></p>
            <p class="txt-center">*If you did not receive any email from us, please check <br>your spam mail folder or
                mailbox setting
                to allow <br>mail reception from our domain, "@atom-solutions.jp".
			</p>
			{% else %}
			<p class="txt-center">アトムソリューションズへのお問い合わせは下記メールアドレスよりご連絡お願いいたします。<br>尚、できるだけ早く回答をさせて頂きますが、内容等により多少お時間を要する場合がございます。</p>
				<p class="txt-center"><a href="mailto:info@atom-solutions.jp" style="font-size:  2.0rem;color: #cd002c;font-weight: 700;">info@atom-solutions.jp</a></p>
				<p class="txt-center">※尚、しばらく経っても弊社からのメールが届かない場合、迷惑メールフォルダに入っていないか、<br>
					また、弊社のドメイン、「@atom-solutions.jp」からのメール受信を許可する設定になっているかどうか、今一度ご確認頂くようお願い申し上げます。
				</p>
			{% endif %}	
        </div><!-- /.col -->
    </div><!-- /.wrap -->
</div><!-- /.contact -->

{% include 'atomhome/include/en/footer.html' %}
<script src="{% static "atomhome/js/common.js" %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>

</body>

</html>