{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}


<meta content="" name="keywords">
<meta content="" name="description">
<title>FAQ|AtomSolutions</title>

<div class="page-bg"></div>
<div class="page-ttl">
    <div class="wrap spaceL">
        <h1 class="ttlPage">FAQ</h1>
    </div><!-- /.wrap -->
</div><!-- /.page-ttl -->
<div class="faq">
    <div class="wrap spaceL">
        <div class="col">
            <div class="col-faq">
                <h2>What is the difference between Eternal Coin (XEC) and Eternal Token (XET)?</h2>
                <table>
                    <tr>
                        <th></th>
                        <th>XEC</th>
                        <th>XET</th>
                    </tr>
                    <tr>
                        <td>Issuer</td>
                        <td>Atom Solutions</td>
                        <td>Atom Solutions</td>
                    </tr>
                    <tr>
                        <td>Conversion Exchange</td>
                        <td>Authorized Exchange:Hong Kong-Korea-Philippines-Taiwan</td>
                        <td>Global Exchanges in Countries</td>
                    </tr>
                    <tr>
                        <td>Total Supply</td>
                        <td>2 Billion units</td>
                        <td>200 million units</td>
                    </tr>
                    <tr>
                        <td>Advantages</td>
                        <td>- Fiat Currency Exchange-<br>- Transfer via Phone Number<br>- Value Division System<br>-
                            Weekly Dividends Distribution<br>
                            - Guaranteed from Cyber Hacking and Unauthorized Wallet Access</td>
                        <td>- Tradable with Various Currencies on Global Exchanges.</td>
                    </tr>
                    <tr>
                        <td>Disadvantages</td>
                        <td>- Tradable with Eternal Coin ONLY.</td>
                        <td>- Eternal Wallet functions cannot be used.<br>- No guarantee from cyber security like
                            hacking or stolen password</td>
                    </tr>
                </table>
            </div><!-- col-faq -->
            <div class="col-faq">
                <h2>What are the features of Eternal Wallet?</h2>
                <p>The biggest feature of Eternal Wallet is that you can exchange Fiat currencies of each country
                    for a very low transaction fee.</p>
            </div><!-- col-faq -->
            <div class="col-faq">
                <h2>Which countries can send money with Eternal Wallet?</h2>
                <p>Currently, remittances are possible between Korea, Hong Kong and the Philippines, but in the
                    future we will expand countries that can remit money to Asia and Africa</p>
            </div><!-- col-faq -->
            <div class="col-faq">
                <h2>What is an official exchange?</h2>
                <p>What is Eternal Coin official Exchange?<br>
                    ・Eternal Coin official Exchange refers to the authorized exchanges where Eternal Coin is
                    tradable.<br>
                    ・There is only 1 Official Exchange in each country and the Official Exchange is not allowed to
                    trade with other cryptocurrencies.<br>
                    ・Since the Official Exchange is tradable only with Eternal Coin, the team will focus more on
                    applying their resources and manpower to build the infrastructures and apply marketing
                    strategies to Eternal Coin and Eternal Wallet.</p>
            </div><!-- col-faq -->
            <div class="col-faq">
                <h2>What is the features of XEC?</h2>
                <p>・About 5 cents of transaction fee will be charged when making overseas remittances using Eternal
                    Wallet or buying and selling eternal coins.<br>
                    ・50% of the fee is distributed once a week to wallet users of eternal coins.<br>
                    ・The biggest feature of eternal coin is that the fee will be distributed to all wallet users of
                    eternal coins, so long as there are users, the eternal coin will never become worthless.</p>
            </div><!-- col-faq -->
            <div class="col-faq">
                <h2>How much is XEC's dividend?</h2>
                <p>The dividend, when holding an eternal coin is about 8% in one year.</p>
            </div><!-- col-faq -->
            <div class="col-faq">
                <h2>Where can I buy XEC?</h2>
                <p>Eternal coins can be purchased if they are in the following countries with official
                    exchanges.<br>
                    ・<a href="http://www.eternalkorea.com/?ckattempt=2" target="_blank">Eternal Korea</a><br>
                    ・<a href="https://tokenhub.asia/" target="_blank">Eternal Philippine (Tokenhub )</a><br>
                    ・<a href="https://eternalhongkong.com/" target="_blank">Eternal Hong Kong</a><br>
                    If you are a resident in a country without an official exchange, you can exchange with an
                    eternal coin XET on the following exchanges and you can exchange with an eternal coin at Token
                    Hub.</p>
            </div><!-- col-faq -->
            <div class="col-faq">
                <h2>What is the features of XET?</h2>
                <p>Since XET can be purchased and sold in a virtual currency exchange all over the world, it is also
                    possible to exchange to various virtual currencies via exchanges, so you can exchange XET for
                    bitcoins. It is possible to purchase XET from Ethereum.</p>
            </div><!-- col-faq -->
            <div class="col-faq">
                <h2>Where can I buy XET?</h2>
                <p>Currently you can purchase at the following exchanges.<br>
                    ・<a href="https://www.idax.pro/#/" target="_blank">IDAX</a><br>
                    ・<a href="https://instantbitex.com" target="_blank">InstantBitex</a><br>
                    ・<a href="https://www.oex.com/index" target="_blank">OEX</a><br>
                    There are three exchanges that can trade XET now, but we will continue to increase the number of
                    exchanges that can trade XET, so convenience and liquidity will increase in the future.</p>
            </div><!-- col-faq -->
            <div class="col-faq">
                <h2>What company is Atom Solutions?</h2>
                <p>In 2010 it was founded as an IT service and FinTech company. After that, we will issue and
                    develop virtual currency from 2015, Currently we are issuing Eternal coins and Eternal tokens.
                    In addition, consultancy work of the virtual currency started from this fiscal year.</p>
            </div><!-- col-faq -->
        </div><!-- /.col -->
    </div><!-- /.wrap -->
</div><!-- /.faq -->
{% include 'atomhome/include/en/footer.html' %}

<script src="{% static "atomhome/js/common.js" %}"></script>

<!-- slideToggle -->
<script>
    $(function () {
        $(".col-faq h2").on("click", function () {
            $(this).next().slideToggle();
        });
    });
</script>
<!-- slideToggle -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>