{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}
{% load i18n %}
{% load i18n_urls %}
<title>{% trans "Overseas remittance｜ETERNAL LIVE" %}</title>

<div id="wrap">
    <div id="content">
        <section>
            <div class="section" id="section01">
                <video src="{% static "atomhome/img/en/bg_main_animation.mov" %}" muted autoplay loop webkit-playsinline
                    playsinline preload="metadata"></video>
                <div class="inner" style="padding: 100px 0px 0px 0px">
                    <h2>{% trans "SEND MONEY WORLDWIDE AT THE" %}<br class="sp-none">{% trans "LOWEST COST AND FASTEST SPEED!" %}</h2>
                    <p class="description desc-typeA">{% trans "With Eternal Wallet, you can send money" %} <br
                            class="pc-none">{% trans "without using a bank at Anytime, Anywhere." %}</p>
                </div>
                <div class="txtRelease">
                    <div>
                        <p><span>TOPICS</span>{% trans "We are currently upgrading our new wallet system." %}<br>
                            {% trans "Please see news updates for more details!" %}</p>
                    </div>
                </div>
                <p id="scroll"><img src="{% static "atomhome/img/en/index/scroll.png" %}" alt=" SCROLL"></p>
            </div>
        </section>
        <section>
            <div class="section" id="section02">
                <div id="section02-inner">
                    <h2>{% trans "Eternal Wallet provides" %} <br class="forSp">{% trans "the Fastest" %} <br class="forPc">{% trans "Remittance" %} <br
                            class="forSp">{% trans "Services and Highest" %} <br>{% trans "Receivable Amount Ever!" %}</h2>
                    <p class="description desc-typeB"><span class="beta">{% trans "Our remittance rate is +0.5% from" %} <br
                                class="forSp">{% trans "interbank Transfer Middle Rate (TTM)." %}</span></p>
                    <div class="aboutBox">
                        <div class="col">
                            <strong>{% trans "Available Countries" %}</strong>
                            <ul>
                                <li>{% trans "Philippines" %}</li>
                                <li>{% trans "Korea" %}</li>
                                <li>{% trans "Hong Kong" %}</li>
                            </ul>
                            
                            <p>{% trans "Eternal Wallet expansion targeting 10 countries in 2019." %}<br>
                                {% trans "Overseas remittance using Eternal Wallet will not be going through bank but P2P transaction between Eternal Wallet users." %}</p> 
                        </div>
                        <div class="col">
                            <strong>{% trans "Users" %}</strong>
                            <p class="num">{% trans "Over 40000 Eternal Wallet Users +" %}</p>
                            <span>{% trans "* Refers to Eternal Wallet registration number." %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="section" id="section03">
                <div class="inner">
                    <h2>{% trans "We have achieved our goals in" %} <br class="forSp">{% trans "providing" %} <br class="forPc"> {% trans "the world’s fastest" %}
                        <br class="forSp">{% trans "overseas" %} <br class="forPc">{% trans "remittance services" %} <br class="forSp">{% trans "at the lowestcost" %} 
                        <br>{% trans "and equivalent value through" %} <br class="forSp">{% trans "our unique" %} <br class="forPc">{% trans "features,functions," %}
                        <br class="forSp">{% trans "technologies, and ideas." %}</h2>
                    <p class="description desc-typeB">{% trans "* Patent Filed" %}</p>
                {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "en-us" %}
                    <div class="bnr_link"><a href="http://pool.atom-solutions.jp/" target="_blank"><img src="{% static "atomhome/img/en/bnr_demo_en.png" %}"  
                        alt="Try and Experience the World's Lowest Overseas Remittances Fee Simulator!!"></a>
                    </div>
                 {% else %}
                 <div class="bnr_link"><a href="http://pool.atom-solutions.jp/" target="_blank"><img src="{% static "atomhome/img/ja/bnr_demo.png" %}"  
                    alt="Try and Experience the World's Lowest Overseas Remittances Fee Simulator!!"></a>
                </div>
                 {% endif %} 
                    

                  
                    <ul class="circles">
                        <li class="circle">{% trans "XEC" %}</li>
                        <li class="circle">{% trans "XET" %}</li>
                        <li class="circle">{% trans "Blockchain" %}</li>
                        <li class="circle">{% trans "Authorized Exchange System" %}</li>
                        <li class="circle">{% trans "DOT" %}</li>
                        <li class="circle">{% trans "Transfer via Phone Number" %}</li>
                        <li class="circle">{% trans "Pool Wallet" %}</li>
                        <li class="circle">{% trans "XEC Lending Feature" %}</li>
                        <li class="circle">{% trans "Arbitrage" %}</li>
                        <li class="circle">{% trans "Multi Currency Wallet" %}</li>
                        <li class="circle">{% trans "7 Pending Patents" %}</li>
                        <li class="circle">{% trans "ELook App" %}</li>
                        <li class="circle">{% trans "Economy Sharing" %}</li>
                    </ul>
                    <div class="clear"></div>
                    <p class="txt_wp">{% trans "For more details about the mechanism," %} <br class="forSp">{% trans "please refer to EternalCoin Whitepaper" %}</p>
                    <a class="btn_wp" href="{% static "atomhome/whitepaper/XEC_whitepaperver.2.0en.pdf" %}"
                        target="_blank">{% trans "WHITE PAPER" %}</a>
                </div>
            </div>
        </section>
        <section>
            <div class="section" id="section04">
                <strong class="txt_ssv">{% trans "SHARING" %}<br>{% trans "SERVICES" %}</strong>
                <div id="section04-inner">
                    <h2>{% trans "No Bank Account is required to" %} <br>{% trans "send / receive the money" %}</h2>
                    <a class="linkBtn001" href="https://www.el-ook.com/s.php" target="_blank">{% trans "E-Counter" %}</a>
                    <img src="{% static "atomhome/img/en/index/phone.png" %}">
                </div>
            </div>
        </section>
        <section>
            <div id="group">
                <h2><img src="{% static "atomhome/img/en/index/group_tit.png" %}" alt="ETERNAL GROUP"></h2>
                <p class="desc-typeD">{% trans "We are empowered by Eternal Group" %} <br class="forSp">{% trans "around the world." %}</p>
                <a class="contact-btn" href="{% url 'atomhome:contact' %}" target="_blank">{% trans "CONTACT HERE" %}</a>
                <p class="txt_form">{% trans "Japanese・English・Korean・Chinese・" %}<br class="forSp">{% trans "Malay・Mongolian・Tagalog are supported." %}
                    <br>{% trans "Please feel free to contact us" %}</p>
                <div class="colGroupImg">
                    <a href="{% url 'atomhome:index' %}"><img src="{% static "atomhome/img/en/index/logoGroupAtom.jpg" %}" alt=""></a>
                    <a href="https://eternallive.jp/investment/" target="_blank"><img
                            src="{% static "atomhome/img/en/index/logoGroupEl.jpg" %}" alt=""></a>
                    <a href="https://tokenhub.asia/home/" target="_blank"><img
                            src="{% static "atomhome/img/en/index/logoGroupTh.jpg" %}" alt=""></a>
                    <a href="https://eternalhongkong.com/" target="_blank"><img
                            src="{% static "atomhome/img/en/index/logoGroupEh.jpg" %}" alt=""></a>
                    <a href="http://eternalkor.com/?ckattempt=1" target="_blank"><img
                            src="{% static "atomhome/img/en/index/logoGroupEk.jpg" %}" alt=""></a>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static "atomhome/js/vivus.min.js" %}"></script>

    <script>
        new Vivus('svgLogo', { duration: 100, start: 'autostart', pathTimingFunction: Vivus.EASE_OUT, }, function (obj) {
            obj.el.classList.add('fill');
        });
        var st00 = document.querySelectorAll('.st00');
        var anime = function () {
            new Vivus('svg-animation', { type: 'scenario-sync', duration: 16, forceRender: false, animTimingFunction: Vivus.EASE }, function () {
            });
        }
        anime();
    </script>
    <script>
        $(function () {
            var h = $(window).height();

            $('.ctsIndex').css('display', 'none');
            $('#loader-bg').height(h).css('display', 'blo	ck');
        });

        $(window).on('load', function () {
            $('#loader-bg').delay(2000).fadeOut(1200);
            $('.ctsIndex').css('display', 'block');
        });

        $(window).on('load', function () {
            setTimeout('stopload()', 4000);
        });

        function stopload() {
            $('.ctsIndex').css('display', 'block');
            $('#loader-bg').delay(900).fadeOut(800);
        } https://coinmarketcap.com/currencies/eternal-token/
    </script>

    <script>
        (function (win, doc) {
            "use strict";
            var circle = doc.querySelectorAll(".circle");
            for (var i = 0; i < circle.length; ++i) {
                circle[i].classList.add("move" + ((Math.random() * 9 | 0) + 1));
            }
        })(this, document);
    </script>
    <!-- <script src="{% static "atomhome/js/index.js" %}"></script> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-108481174-1');
    </script>
    {% include 'atomhome/include/en/footer.html' %}