{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}

<meta content="AtomSolutions,Eternalcoin,Eternaltoken" name="keywords">
<meta content="" name="description">
<title>Media Gallery|AtomSolutions</title>


<!--<div class="page-bg"></div>-->
<div class="page-ttl">
	<div class="wrap spaceL">
		<h1 class="ttlPage">MEDIA GALLERY</h1>
	</div><!-- /.wrap -->
</div><!-- /.page-ttl -->
<ul class="blk_btn_media">
	<li>Overseas</li>
	<li><a href="{% url 'mediajp' %}">in Japan</a></li>
</ul>
<div class="blk_media">
	<div class="blk">


		<div class="col_media"><a href="https://www.tuoluocaijing.cn/article/detail-35155.html" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_1.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/tuoluocaijing.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.hecaijing.com/article/show/15537617168185425.html" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_2.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/hecaijing.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B 展望稳定</p>
				</div>
			</a>
		</div>
		<div class="col_media"><a href="https://www.bitpush.news/archives/382702" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_4.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/bitpush.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a>
		</div>
		<div class="col_media"><a href="http://panews.io/index.php?page=content_news&id=1499" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_5.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/panews.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.xcj.com/article/8942.html" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_6.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/xcj.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.jinse.com/blockchain/337018.html" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_7.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/jinse.png" %}" class="bl_media">
					<p>Eternal Token 项目评级为B 展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.chainfor.com/news/show/66116.html" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_8.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/chainfor.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.huobiinfo.com/news/baseDetail_45525/" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_10.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/huobiinfo.png" %}" class="bl_media">
					<p>Eternal Token 项目评级:B,展望稳定</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.aicoin.net.cn/article/67237.html" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_11.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/aicoin.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.shenliancaijing.com/portal/activity/activedetail.html?id=5673"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_12.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/shenliancaijing.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.walian.cn/news/14245.html" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_13.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/walian.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://bihu.com/article/1099020956" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_14.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/bihu.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.jgy.com//news/coins/190329169738" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_15.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/jgy.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://zhuanlan.zhihu.com/p/60814400" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_16.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/zhuanlan.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.jianshu.com/p/000b57448e29" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_17.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/jianshu.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>
		<div class="col_media"><a href="http://www.dappcc.com/index/community/detailed/id/290.html" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0401_18.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/dappcc.png" %}" class="bl_media">
					<p>Eternal Token 项目评级：B ，展望稳定 | TokenInsight</p>
				</div>
			</a></div>


		<div class="col_media"><a
				href="https://www.newsbtc.com/2019/02/08/crypto-startups-partnership-to-let-users-pay-their-bills-with-crypto-in-the-philippines/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0212_1.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/newsbtc.png" %}" class="bl_media">
					<p>Crypto Startup’s Partnership to Let Users Pay their Bills with Crypto in the Philippines</p>
				</div>
			</a></div>

		<div class="col_media"><a href="http://cnews.seconomy.kr/view.php?ud=201901301023561332798818e98b_2"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0208_1.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/seconomy.png" %}" class="bl_media">
					<p>이터널 토큰, 암호화폐 거래소 'OEX'와 파트너쉽 체결</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="http://paxnetnews.com/allView?vNewsSetId=6073&articleId=2019013010212401297&objId=A2019013010212401297&portalCode=naver"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0208_2.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/paxnetnews.png" %}" class="bl_media">
					<p>이터널 토큰, 암호화폐 거래소 OEX와 파트너쉽 체결</p>
				</div>
			</a></div>
		<div class="col_media"><a href="http://cnews.getnews.co.kr/view.php?ud=2019013011212359227f7a2feaf6_16"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0208_3.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/getnews.png" %}" class="bl_media">
					<p>이터널 토큰, 암호화폐 거래소 ‘OEX’와 파트너쉽 체결</p>
				</div>
			</a></div>
		<div class="col_media"><a href="http://www.dtoday.co.kr/news/articleView.html?idxno=294988" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0208_4.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/dtoday.gif" %}" class="bl_media">
					<p>[4차산업혁명] 이터널 토큰, 거래소 OEX와 파트너십</p>
				</div>
			</a></div>
		<div class="col_media"><a href="http://www.newsworks.co.kr/news/articleView.html?idxno=332555" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0208_5.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/newsworks.png" %}" class="bl_media">
					<p>이터널 토큰, 암호화폐 거래소 'OEX'와 파트너십 체결</p>
				</div>
			</a></div>
		<div class="col_media"><a href="http://www.bccpost.com/news/articleView.html?idxno=1861" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0208_6.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/bccpost.png" %}" class="bl_media">
					<p>이터널 토큰, 암호화폐 거래소 ‘OEX’와 파트너십 체결</p>
				</div>
			</a></div>
		<div class="col_media"><a href="http://www.dailytoken.kr/news/articleView.html?idxno=12171" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0208_7.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/dailytoken.png" %}" class="bl_media">
					<p>이터널 토큰(XET), 거래소 OEX와 파트너십</p>
				</div>
			</a></div>
		<div class="col_media"><a href="http://www.coincatmedia.com/2911" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0208_8.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/coincatmedia.png" %}" class="bl_media">
					<p>이터널 토큰(XET), 암호화폐 거래소 ‘OEX’와 파트너쉽 체결</p>
				</div>
			</a></div>



		<div class="col_media"><a href="http://press.24news.kr/newsRead.php?no=881311" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0201_1.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/24news.png" %}" class="bl_media">
					<p>아톰 솔루션즈, 세계에서 가장 저렴한 해외 송금 서비스 개시</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://www.thestockobserver.com/2019/01/31/eternal-token-xet-trading-up-20-3-this-week.html"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0131_1.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/thestockobserver.png" %}" class="bl_media">
					<p>ETERNAL TOKEN (XET) Trading Up 20.3% This Week</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=101&oid=468&aid=0000470774"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0130_2.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/naver.png" %}" class="bl_media">
					<p>이터널 토큰(XET), 암호화폐 거래소 'OEX'와 파트너십 체결</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.jinse.com/bitcoin/312012.html" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0130_1.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/jinse.png" %}" class="bl_media">
					<p>重新定义“跨境汇款”——日本Eternal Token (XET) 项目将于2月12日登陆OEX交易所</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://www.coinspeaker.com/what-is-mysterious-eternal-token-and-why-it-gained-over-640-in-a-week/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0111_1.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/coinspeaker.png" %}" class="bl_media">
					<p>What is Mysterious Eternal Token and Why It Gained Over 640% in a Week?</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://cryptoblockwire.com/eternal-token-xet-soars/" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0111_2.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cryptoblockwire.png" %}" class="bl_media">
					<p>Eternal Token (XET) Soars Amidst Pump And Dump Warnings</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://coinnounce.com/xet-on-a-rise-eternal-token-full-analysis/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0111_3.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/coinnounce.png" %}" class="bl_media">
					<p>XET on a rise. Eternal Token Full Analysis</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://www.cryptoglobalist.com/2018/09/28/eternal-token-xet-rises-to-the-top-50-rankings-a-scam-or-rising-star/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0111_4.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cryptoglobalist.png" %}" class="bl_media">
					<p>Eternal Token (XET) rises to the top 50 rankings. A scam or rising star?</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://cryptorecorder.com/2018/09/28/buy-eternal-token-xet-and-smile-all-the-way-to-the-bank/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0111_5.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cryptorecorder.png" %}" class="bl_media">
					<p>Buy ETERNAL TOKEN (XET) And Smile All the Way to The Bank</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://hacked.com/what-is-eternal-token-xet-enters-top-100-with-646-weekly-growth/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0111_6.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/hacked.png" %}" class="bl_media">
					<p>What is Eternal Token? XET Enters Top 100 With 646% Weekly Growth</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://criptozoom.com/eternal-token-xet-cripto-misteriosa-sobe-625-na-ultima-semana/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0111_7.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/criptozoom.png" %}" class="bl_media">
					<p>Eternal Token (XET): cripto misteriosa sobe 625% na última semana</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://www.newsbtc.com/2018/12/27/crypto-market-update-super-spike-for-eternal-token-xet-as-selloff-accelerates/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0111_8.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/newsbtc.png" %}" class="bl_media">
					<p>Crypto Market Update: Super Spike For Eternal Token (XET) as Selloff Accelerates</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://cryptocurrencynews.com/eternal-token/" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0111_9.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cryptocurrencynews.png" %}" class="bl_media">
					<p>Eternal Token, What is It? And Why is It Up 42% Today?</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://www.cryptodigest.com/coins/eternal-token-xet-spikes-by-300/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/0111_1.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cryptodigest.png" %}" class="bl_media">
					<p>Eternal Token (XET) Spikes by 300%</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://cryptomode.com/eternal-token-price-explodes-as-value-gains-another-31/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/0111_2.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cryptomode.png" %}" class="bl_media">
					<p>ETERNAL TOKEN Price Explodes as Value Gains Another 31%</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://bittpress.com/top-cryptocurrency-gainers-december-27-2018/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/0111_3.png" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/bittpress.png" %}" class="bl_media">
					<p>Top Cryptocurrency Gainers – December 27, 2018</p>
				</div>
			</a></div>


		<div class="col_media"><a href="https://ibsintelligence.com/ibs-journal/ibs-news/atom-solutions-remittance/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0109_1.jpg" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/ibsi.png" %}" class="bl_media">
					<p>Japanese fintech looks to enter remittance market in 2019</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://bitcoinexchangeguide.com/atom-solutions-equivalent-value-overseas-remittance-system-evor-set-to-help-crypto-price-volatility-during-payments/"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_0109_2.jpg" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/bitcoinexchangeguide.png" %}" class="bl_media">
					<p>Atom Solutions’ Equivalent Value Overseas Remittance System (EVOR) Set To Help Crypto Price
						Volatility During
						Payments</p>
				</div>
			</a></div>

		<div class="col_media"><a
				href="https://cointelegraph.com/news/new-remittances-system-to-tackle-crypto-volatility-when-international-payments-are-made"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_1227_1.jpg" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cointelegraph01.png" %}" class="bl_media">
					<p>New Remittances System to Tackle Crypto Volatility When International Payments Are Made</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://es.cointelegraph.com/news/new-remittances-system-to-tackle-crypto-volatility-when-international-payments-are-made"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_1227_2.jpg" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cointelegraph02.png" %}" class="bl_media">
					<p>Nuevo sistema de remesas hará frente a volatilidad de criptos cuando se realizan pagos
						internacionales</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://it.cointelegraph.com/news/new-remittances-system-to-tackle-crypto-volatility-when-international-payments-are-made"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_1227_3.jpg" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cointelegraph03.png" %}" class="bl_media">
					<p>Un nuovo sistema di rimesse cerca di combattere la volatilità delle criptovalute nei pagamenti
						internazionali
					</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://de.cointelegraph.com/news/new-remittances-system-to-tackle-crypto-volatility-when-international-payments-are-made"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_1227_4.jpg" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cointelegraph04.png" %}" class="bl_media">
					<p>Neues Überweisungssystem: Krypto-Volatilität bei internationalen Zahlungen mindern</p>
				</div>
			</a></div>
		<div class="col_media"><a
				href="https://br.cointelegraph.com/news/new-remittances-system-to-tackle-crypto-volatility-when-international-payments-are-made"
				target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_1227_5.jpg" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cointelegraph05.png" %}" class="bl_media">
					<p>Novo sistema de remessas vai combater a volatilidade da cripto quando pagamentos internacionais
						são feitos
					</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://ctlgr.com/77xb" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_1227_6.jpg" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cointelegraph06.png" %}" class="bl_media">
					<p>New Remittances System to Tackle Crypto Volatility When International Payments Are Made</p>
				</div>
			</a></div>
		<div class="col_media"><a href="https://twitter.com/Cointelegraph/status/1077761673488932865" target="_blank">
				<img src="{% static "atomhome/img/en/media/ov_1227_7.jpg" %}" class="tmb_media">
				<div>
					<img src="{% static "atomhome/img/en/media/cointelegraph07.png" %}" class="bl_media">
					<p>New Remittances System to Tackle Crypto Volatility When International Payments Are Made</p>
				</div>
			</a></div>
	</div>
</div><!-- /.blk_media -->


<div class="blk_media_other">
	<div class="list_other">
		<h2 class="ttl">OTHER NEWS</h2>
		<ul>
			<li><a href="http://www.weilaicaijing.com/article/26955" target="_blank">未来財経</a></li>
			<li><a href="http://www.block360.pro/index/news_details/id/8096.html" target="_blank">布洛克科技</a></li>
			<li><a href="http://www.25news.co.kr/_press/?newsid=881311" target="_blank">25 News</a></li>
			<li><a href="http://sh.qihoo.com/pc/detail?url=http%3A%2F%2Fzm.news.so.com%2Faa2ff1607303348affa0205404085c15&check=332b10346d631603&sign=llq&uid=d5ee0c055a61541f02df2f82ebe38ce7"
					target="_blank">360 Kuaichuan</a></li>
			<li><a href="http://www.51businessview.com/v-1-491055.aspx" target="_blank">51 Business View</a></li>
			<li><a href="http://press.adrnews.co.kr/newsRead.php?no=881311" target="_blank">ADRnews</a></li>
			<li><a href="http://www.aimuvogue.com/v-1-255252.aspx" target="_blank">Aimu Vogue Net</a></li>
			<li><a href="http://news.anhuisc.com/2018/1227/5694.html" target="_blank">Anhui Window</a></li>
			<li><a href="http://press.asn24.com/newsRead.php?no=881311" target="_blank">Anseong Real Time News</a></li>
			<li><a href="http://press.appjournal.kr/newsRead.php?no=881311" target="_blank">Appjournal</a></li>
			<li><a href="http://press.assemblynews.co.kr/newsRead.php?no=881311" target="_blank">Assembly News</a></li>
			<li><a href="http://news.bjxinwen.com/2018/1227/5697.html" target="_blank">Beijing Info Net</a></li>
			<li><a href="http://www.thehuabei.com/v-1-568668.aspx" target="_blank">Beixin Net</a></li>
			<li><a href="http://www.ibigstar.cn/v1/57615.aspx" target="_blank">Big Star</a></li>
			<li><a href="http://www.fbchinese.cn/v-1-504846.aspx" target="_blank">Biz Chinese Net</a></li>
			<li><a href="http://news.ppzixunw.com/2018/1227/5711.html" target="_blank">Brand Info Net</a></li>
			<li><a href="http://press.breaknews.com/newsRead.php?no=881311" target="_blank">Break News</a></li>
			<li><a href="http://press.bucheontimes.com/newsRead.php?no=881311" target="_blank">Bucheon Times</a></li>
			<li><a href="http://www.businesswirechina.com/zh/news/39436.html" target="_blank">BusinessWire China</a>
			</li>
			<li><a href="http://press.bzeronews.com/newsRead.php?no=881311" target="_blank">Bzero News</a></li>
			<li><a href="http://www.icainiu.cn/v1/185944.aspx" target="_blank">Cainiu</a></li>
			<li><a href="http://www.fbpost.cn/v-1-430918.aspx" target="_blank">Caishang Net</a></li>
			<li><a href="http://www.caixinwen.com/news/29004-1.html" target="_blank">Caixinwen</a></li>
			<li><a href="http://www.cbinews.com/common/news_v15.jsp?articleid=271165" target="_blank">CBI News</a></li>
			<li><a href="http://press.cctvnews.co.kr/newsRead.php?no=881311" target="_blank">CCTV News</a></li>
			<li><a href="http://www.thechengyu.com/v-1-501590.aspx" target="_blank">Chengyu Online</a></li>
			<li><a href="http://www.chinacompanynet.cn/news/businesswirechina.asp?docid=39436" target="_blank">China
					Company Net</a></li>
			<li><a href="http://www.cn-info.net/news/2018-12-26/50020.html" target="_blank">China Company News</a></li>
			<li><a href="http://www.zhongqinews.com/infoShow.asp?ID=37300" target="_blank">China Corporate Business News
					Net</a></li>
			<li><a href="http://www.fzbdsd.com/caijing/201812/160564.html" target="_blank">China Development Advices</a>
			</li>
			<li><a href="http://www.chinaccw.com.cn/2018/1227/93186.html" target="_blank">China Finance Net</a></li>
			<li><a href="http://www.xinjr.com/caijing/redian/2018-12-27/640903.html" target="_blank">China New Finance
					Net</a></li>
			<li><a href="http://www.gpj888.com/wenchuan/20181227/29737.html" target="_blank">China Stocks Market Net</a>
			</li>
			<li><a href="http://www.58188.com/invest/2018/12-26/124981.html" target="_blank">China Top Finance Net</a>
			</li>
			<li><a href="http://www.chinatopline.com/v_1/338490.aspx" target="_blank">China Topline</a></li>
			<li><a href="http://www.chineseworldnet.com/hk/stock/financeNewsGroup/interfax_bus_wire/3573140?cn_tag=no"
					target="_blank">Chinese World Net</a></li>
			<li><a href="http://press.chjnews.kr/newsRead.php?no=881311" target="_blank">CHJ News</a></li>
			<li><a href="http://press.okcb.net/newsRead.php?no=881311" target="_blank">Chungbuknet</a></li>
			<li><a href="http://press.ccnewsline.co.kr/newsRead.php?no=881311" target="_blank">Chungcheong News Line</a>
			</li>
			<li><a href="http://press.cctoday.co.kr/newsRead.php?no=881311" target="_blank">Chungcheong Today</a></li>
			<li><a href="http://www.chungkinghot.com/v1/344089.aspx" target="_blank">Chungking Hot</a></li>
			<li><a href="http://press.ccsimin.com/newsRead.php?no=881311" target="_blank">Chungnam Shinmun</a></li>
			<li><a href="http://www.ckmnews.co.kr/_press/?newsid=881311" target="_blank">CKMNEWS</a></li>
			<li><a href="http://press.cknews.co.kr/newsRead.php?no=881311" target="_blank">CKNEWS</a></li>
			<li><a href="http://press.cntoday.net/newsRead.php?no=881311" target="_blank">Cntoday</a></li>
			<li><a href="http://www.cntopline.cn/v_1/365375.aspx" target="_blank">CNTopline</a></li>
			<li><a href="http://press.sisanewstime.co.kr/newsRead.php?no=881311" target="_blank">Current News Time</a>
			</li>
			<li><a href="http://press.daejeonnews.kr/newsRead.php?no=881311" target="_blank">Daejeon News</a></li>
			<li><a href="http://www.dahuol.com/v1/202420.aspx" target="_blank">Dahu Online</a></li>
			<li><a href="http://press.dailycons.co.kr/newsRead.php?no=881311" target="_blank">Daily Construction</a>
			</li>
			<li><a href="https://www.mrcjcn.com/n/296800.html" target="_blank">Daily Finance Net</a></li>
			<li><a href="http://press.dailyjn.com/newsRead.php?no=881311" target="_blank">Daily Journal</a></li>
			<li><a href="http://press.dailykorea.kr/newsRead.php?no=881311" target="_blank">Daily Korea</a></li>
			<li><a href="http://press.dailylog.co.kr/newsRead.php?no=881311" target="_blank">Dailylog</a></li>
			<li><a href="http://www.danghongyule.com/v-1-24203.html" target="_blank">Danghong Entertainment</a></li>
			<li><a href="http://press.dasanjournal.co.kr/newsRead.php?no=881311" target="_blank">Dasanjournal</a></li>
			<li><a href="http://media.daum.net/press/newsview?newsid=20181226172703428" target="_blank">Daum News</a>
			</li>
			<li><a href="http://dbpower.com.hk/gb/news/news-finance-news-businesswire/?uid=39436gb&page=1"
					target="_blank">DB Power (SC)</a></li>
			<li><a href="http://dbpower.com.hk/ch/news/news-finance-news-businesswire/?uid=39436ch&page=1"
					target="_blank">DB Power (TC)</a></li>
			<li><a href="http://www.deepfn.com/v-1-64222.html" target="_blank">Deep Finance</a></li>
			<li><a href="http://press.dentalbrain.co.kr/newsRead.php?no=881311" target="_blank">Dental Brain</a></li>
			<li><a href="http://www.filmicz.com/v1/55353.aspx" target="_blank">Dianyingzhi</a></li>
			<li><a href="http://www.donongnews.com/_press/?newsid=881311" target="_blank">Donongnews</a></li>
			<li><a href="http://press.eseoulpost.net/newsRead.php?no=881311" target="_blank">e-Seoul Post</a></li>
			<li><a href="http://caifuhao.eastmoney.com/news/20181226173653365331950" target="_blank">East Money
					Media</a></li>
			<li><a href="http://www.economytimes.kr/_press?newsid=881311" target="_blank">Economytimes</a></li>
			<li><a href="http://press.efocus.co.kr/newsRead.php?no=881311" target="_blank">Efocus</a></li>
			<li><a href="http://www.energydaily.co.kr/_press?newsid=881311" target="_blank">EnergyDaily</a></li>
			<li><a href="http://www.enertopianews.co.kr/_press/?newsid=881311" target="_blank">Enertopianews</a></li>
			<li><a href="http://www.envinews.co.kr/_press?newsid=881311" target="_blank">Envinews</a></li>
			<li><a href="http://press.estetica.kr/newsRead.php?no=881311" target="_blank">ESTETICA</a></li>
			<li><a href="http://press.evernews.co.kr/newsRead.php?no=881311" target="_blank">EVERNEWS</a></li>
			<li><a href="http://press.expressnews.co.kr/newsRead.php?no=881311" target="_blank">Express News</a></li>
			<li><a href="http://www.facenews.cn/v-1-74674.html" target="_blank">Face News</a></li>
			<li><a href="http://www.facevogue.cn/v1/52074.aspx" target="_blank">Face Vogue</a></li>
			<li><a href="http://www.factn.co.kr/_press?newsid=881311" target="_blank">Factnews</a></li>
			<li><a href="http://www.fechao.com/v1/57546.aspx" target="_blank">Fengchao Net</a></li>
			<li><a href="http://www.caijinkeji.com/v_1/322748.aspx" target="_blank">Finance & Technology</a></li>
			<li><a href="http://www.reportf.com/v-1-505938.aspx" target="_blank">Financial Reports Net</a></li>
			<li><a href="https://www.finet.hk/newscenter/news_content/5c233c0a87e0970599977827"
					target="_blank">Finet</a></li>
			<li><a href="http://press.ulsanfocus.com/newsRead.php?no=881311" target="_blank">Focus Daily</a></li>
			<li><a href="http://press.gungsireong.com/newsRead.php?no=881311" target="_blank">Focus Economy</a></li>
			<li><a href="http://press.focusi.co.kr/newsRead.php?no=881311" target="_blank">Focus I</a></li>
			<li><a href="http://press.forbiz.net/newsRead.php?no=881311" target="_blank">Forbiz</a></li>
			<li><a href="http://www.fuhunews.com/v-1-490584.aspx" target="_blank">Fuhua Chinese Net</a></li>
			<li><a href="http://press.gibnews.kr/newsRead.php?no=881311" target="_blank">GIB News</a></li>
			<li><a href="http://www.gimpo.com/_press/?newsid=881311" target="_blank">Gimpo.com</a></li>
			<li><a href="http://www.global56.com/wcsx/07/19002.htm" target="_blank">Global Logistics Net</a></li>
			<li><a href="http://press.globalnewsagency.kr/newsRead.php?no=881311" target="_blank">Global News Agency</a>
			</li>
			<li><a href="http://www.globecp.cn/v-1-69870.html" target="_blank">Globe Corporation Net</a></li>
			<li><a href="http://press.gnbednews.net/newsRead.php?no=881311" target="_blank">GNB News</a></li>
			<li><a href="http://www.goodnewsi.com/_press/?newsid=881311" target="_blank">Goodnewsi</a></li>
			<li><a href="http://www.newsgs.co.kr/_press/?newsid=881311" target="_blank">GS NEWS</a></li>
			<li><a href="http://www.theguangdong.com/v-1-497238.aspx" target="_blank">Guangdong Window</a></li>
			<li><a href="http://www.gsonlinet.com/v-1-73306.html" target="_blank">Guangshen Online</a></li>
			<li><a href="http://press.gyunggijh.co.kr/newsRead.php?no=881311" target="_blank">Gyunggi Jonghap</a></li>
			<li><a href="http://www.thehainan.cn/v-1-507493.aspx" target="_blank">Hainan Online</a></li>
			<li><a href="http://www.hptimes.kr/_press/?newsid=881311" target="_blank">Hampyeong Local Times</a></li>
			<li><a href="http://press.hanaronews.kr/newsRead.php?no=881311" target="_blank">Hanaro News</a></li>
			<li><a href="http://press.hanbatilbo.com/newsRead.php?no=881311" target="_blank">Hanbat Ilbo</a></li>
			<li><a href="http://www.haolicaijing.com/v1/190950.aspx" target="_blank">Haoli Finance</a></li>
			<li><a href="http://www.haowenshe.cn/v-1-63214.html" target="_blank">Haowen Agency</a></li>
			<li><a href="http://www.happyfreedomnews.com/_press/?newsid=881311" target="_blank">HappyFreedomNews</a>
			</li>
			<li><a href="http://press.healthfocus.co.kr/newsRead.php?no=881311" target="_blank">Health Focus</a></li>
			<li><a href="https://hei-market.com/viewthread.php?tid=64508&extra=page%3D1" target="_blank">Hei-Market</a>
			</li>
			<li><a href="http://www.hg-times.com/_press/?newsid=881311" target="_blank">HG-Times</a></li>
			<li><a href="http://www.hichinanews.com/v-1-520302.aspx" target="_blank">HiChina News</a></li>
			<li><a href="http://www.hidongbei.com/v-1-491890.aspx" target="_blank">HiDongbei Net</a></li>
			<li><a href="https://times.hinet.net/news/22166539" target="_blank">HiNet</a></li>
			<li><a href="http://www.hitrends.cn/v_1/283142.aspx" target="_blank">HiTrends Net</a></li>
			<li><a href="http://press.hkdnews.kr/newsRead.php?no=881311" target="_blank">HKD News</a></li>
			<li><a href="http://press.hnsori.co.kr/newsRead.php?no=881311" target="_blank">HNSORI</a></li>
			<li><a href="http://www.etnet.com.hk/www/tc/news/interfax_news_detail.php?newsid=39436&page=1"
					target="_blank">Hong Kong Economic Times Net</a></li>
			<li><a href="http://www.hkitnews.com/BusinessWire.htm?CLANG=ZH-HK&start=0&numresults=100&docid=39436"
					target="_blank">Hong Kong IT News</a></li>
			<li><a href="https://www.hksilicon.com/articles/1714387" target="_blank">Hong Kong Silicon</a></li>
			<li><a href="http://www.hlwang.net/wcsx/2018-12-26/28280.html" target="_blank">Hualu Net</a></li>
			<li><a href="http://www.huanwenwang.com/a/education/2018/1226/34219.html" target="_blank">Huanwen Net</a>
			</li>
			<li><a href="http://www.huashangol.com/v-1-72005.html" target="_blank">Huashang Online</a></li>
			<li><a href="http://press.hyundaenews.com/newsRead.php?no=881311" target="_blank">Hyundae News</a></li>
			<li><a href="http://www.iasianews.com/v-1-501269.aspx" target="_blank">iAsia News</a></li>
			<li><a href="http://www.newskr.kr/_press/?newsid=881311" target="_blank">IBN of Korea Rural</a></li>
			<li><a href="http://www.ichnnews.com/v_1/350349.aspx" target="_blank">iChina News</a></li>
			<li><a href="http://www.idailyfinance.com/v-1-402309.aspx" target="_blank">iDaily Finance Net</a></li>
			<li><a href="http://www.ifuntech.cn/v-1-309466.aspx" target="_blank">iFun Tech</a></li>
			<li><a href="http://press.igj.co.kr/newsRead.php?no=881311" target="_blank">IGJ</a></li>
			<li><a href="http://press.iinpaper.co.kr/newsRead.php?no=881311" target="_blank">IINPAPER</a></li>
			<li><a href="http://www.intideworld.com/v1/61212.aspx" target="_blank">In Tide World</a></li>
			<li><a href="http://press.incheonnews.com/newsRead.php?no=881311" target="_blank">Incheon News</a></li>
			<li><a href="http://www.indongfang.com/v-1-543571.aspx" target="_blank">Indongfang</a></li>
			<li><a href="http://www.insightsfy.com/v1/23405.aspx" target="_blank">Insight Tech</a></li>
			<li><a href="http://info.b2bvip.com/show-21995.html" target="_blank">International Enterprise Net</a></li>
			<li><a href="http://www.intnews.cn/v1/313975.aspx" target="_blank">International News</a></li>
			<li><a href="http://press.internews.kr/newsRead.php?no=881311" target="_blank">internews</a></li>
			<li><a href="http://www.investcircle.cn/web/customnewlist.asp?lang=zh&start=0&numresults=20&docid=39436"
					target="_blank">Invest Circle</a></li>
			<li><a href="http://www.iseefn.com/v-1-69820.html" target="_blank">iSee Finance</a></li>
			<li><a href="http://www.ishengyiren.com/v-1-491644.aspx" target="_blank">iShengyiren</a></li>
			<li><a href="http://www.isouthtech.com/v-1-315270.aspx" target="_blank">iSouth Tech Net</a></li>
			<li><a href="http://www.istarart.cn/v-1-23621.html" target="_blank">iStar Art</a></li>
			<li><a href="http://www.it-bound.com/meiguoshangyezixun?docid=39436" target="_blank">IT Bound</a></li>
			<li><a href="http://www.itshows.cn/v_1/253013.aspx" target="_blank">IT Shows</a></li>
			<li><a href="http://www.kejiit.com/v_1/263738.aspx" target="_blank">IT Technology</a></li>
			<li><a href="http://www.itodaynews.cn/v_1/264871.aspx" target="_blank">IT Today News</a></li>
			<li><a href="http://press.itbiznews.com/newsRead.php?no=881311" target="_blank">itbiznews</a></li>
			<li><a href="http://www.jnuri.net/_press/?newsid=881311" target="_blank">J Nuri</a></li>
			<li><a href="http://press.jbcka.com/newsRead.php?no=881311" target="_blank">JBCKA</a></li>
			<li><a href="http://press.jbpost.co.kr/newsRead.php?no=881311" target="_blank">JBPost</a></li>
			<li><a href="http://press.jctimes.co.kr/newsRead.php?no=881311" target="_blank">JC Times</a></li>
			<li><a href="http://press.jetoday.net/newsRead.php?no=881311" target="_blank">JE Today</a></li>
			<li><a href="http://press.samdanews.com/newsRead.php?no=881311" target="_blank">Jeju Journal</a></li>
			<li><a href="http://press.jejunews.biz/newsRead.php?no=881311" target="_blank">Jeju News</a></li>
			<li><a href="http://press.jejusidae.com/newsRead.php?no=881311" target="_blank">Jeju Sidae</a></li>
			<li><a href="http://press.ijejutoday.com/newsRead.php?no=881311" target="_blank">JeJu Today</a></li>
			<li><a href="http://www.jejuinnews.co.kr/_press/?newsid=881311" target="_blank">JeJuin News</a></li>
			<li><a href="http://www.domin.co.kr/_press/?newsid=881311" target="_blank">Jeonbuk Domin Ilbo</a></li>
			<li><a href="http://www.thejiangnan.com/v-1-497823.aspx" target="_blank">Jiangnan Online</a></li>
			<li><a href="http://www.jldnews.co.kr/_press?newsid=881311" target="_blank">Jidnews</a></li>
			<li><a href="http://www.jinmenonline.com/v1/278989.aspx" target="_blank">Jinmen Online</a></li>
			<li><a href="http://press.jungbunews.com/newsRead.php?no=881311" target="_blank">JungBu News Agency</a></li>
			<li><a href="http://www.kaidianbang.com/school/news/179064" target="_blank">Kaidianbang</a></li>
			<li><a href="http://www.kanews.com.cn/v_1/326551.aspx" target="_blank">Kanews</a></li>
			<li><a href="http://kc18.com/businesswirechina.php?item=3&start=20&docid=39436" target="_blank">KC18.com</a>
			</li>
			<li><a href="http://www.119news.net/_press/?newsid=881311" target="_blank">KFSNEWS</a></li>
			<li><a href="http://press.kjtimes.net/newsRead.php?no=881311" target="_blank">KJT</a></li>
			<li><a href="http://press.dailyconsumer.co.kr/newsRead.php?no=881311" target="_blank">Korea Consumer
					Report</a></li>
			<li><a href="http://press.ikoreadaily.co.kr/newsRead.php?no=881311" target="_blank">Korea Daily</a></li>
			<li><a href="http://www.koenergy.co.kr/_press/?newsid=881311" target="_blank">KOREA ENERGY NEWS</a></li>
			<li><a href="http://www.newswire.co.kr/newsRead.php?no=881311" target="_blank">Korea NewsWire</a></li>
			<li><a href="http://press.knpnews.com/newsRead.php?no=881311" target="_blank">Korea Nuclear Power</a></li>
			<li><a href="http://press.kplus.kr/newsRead.php?no=881311" target="_blank">Korea Plus</a></li>
			<li><a href="http://press.readingnews.kr/newsRead.php?no=881311" target="_blank">Korea Reading News</a></li>
			<li><a href="http://press.koreasobija.com/newsRead.php?no=881311" target="_blank">Korea Sobija</a></li>
			<li><a href="http://press.kwanews.com/newsRead.php?no=881311" target="_blank">kwanews</a></li>
			<li><a href="http://www.kgnews.net/_press/?newsid=881311" target="_blank">Kwanggyo Shinmun</a></li>
			<li><a href="http://www.kyeonggi.com/?mod=main&act=index&section=PRESS&newsid=881311"
					target="_blank">Kyeonggi Ilbo</a></li>
			<li><a href="http://press.yitoday.com/newsRead.php?no=881311" target="_blank">Kyonggi Sisa Today</a></li>
			<li><a href="http://press.hjilbo.com/newsRead.php?no=881311" target="_blank">LHJIlbo</a></li>
			<li><a href="http://www.linkpaper.net/v1/68770.aspx" target="_blank">Link Paper</a></li>
			<li><a href="http://press.ilpn.kr/newsRead.php?no=881311" target="_blank">Local Power News</a></li>
			<li><a href="http://press.mtime.co.kr/newsRead.php?no=881311" target="_blank">M tims</a></li>
			<li><a href="http://www.maeilnews.co.kr/_press?newsid=881311" target="_blank">Maeilnews</a></li>
			<li><a href="http://press.wolyo.co.kr/newsRead.php?no=881311" target="_blank">MDN</a></li>
			<li><a href="http://press.iculturenews.com/newsRead.php?no=881311" target="_blank">Media Gwangmyeong</a>
			</li>
			<li><a href="http://press.h-dmc.net/newsRead.php?no=881311" target="_blank">Media Hanam</a></li>
			<li><a href="http://press.mdknews.com/newsRead.php?no=881311" target="_blank">Media Korea</a></li>
			<li><a href="http://press.meiltoday.com/newsRead.php?no=881311" target="_blank">Meil Today</a></li>
			<li><a href="http://press.metroseoul.co.kr/newsRead.php?no=881311" target="_blank">Metro Seoul</a></li>
			<li><a href="http://news.fjqun.com/2018/1227/516997.shtml" target="_blank">Mindu Net</a></li>
			<li><a href="http://www.mitide.cn/v-1-456912.aspx" target="_blank">MiTide China</a></li>
			<li><a href="http://press.cmni.co.kr/newsRead.php?no=881311" target="_blank">MNews</a></li>
			<li><a href="http://www.modelvogue.cn/v-1-25308.html" target="_blank">Model Vogue</a></li>
			<li><a href="https://cn.morningstar.com/newswire/default.aspx?wire=businesswire&lang=zh&start=10&numresults=100&docid=39436"
					target="_blank">Morningstar (SC)</a></li>
			<li><a href="https://hk.morningstar.com/AP/BUSINESSWIRE/DEFAULT.ASPX?CLANG=ZH-HK&start=10&numresults=100&docid=39436"
					target="_blank">Morningstar Hong Kong</a></li>
			<li><a href="http://press.muannews.com/newsRead.php?no=881311" target="_blank">Muan News</a></li>
			<li><a href="http://press.namdongnews.co.kr/newsRead.php?no=881311" target="_blank">Namdong News</a></li>
			<li><a href="http://dy.163.com/v2/article/detail/E3VFDI900530LC1U.html" target="_blank">Netease Media</a>
			</li>
			<li><a href="http://www.newsbiz.cn/v_1/394376.aspx" target="_blank">News Biz</a></li>
			<li><a href="http://press.newsedu.co.kr/newsRead.php?no=881311" target="_blank">News Edu</a></li>
			<li><a href="http://press.newsfactory.kr/newsRead.php?no=881311" target="_blank">News Factory</a></li>
			<li><a href="http://press.newsgn.com/newsRead.php?no=881311" target="_blank">News GN</a></li>
			<li><a href="http://press.newsje.com/newsRead.php?no=881311" target="_blank">News JE</a></li>
			<li><a href="http://press.intronews.net/newsRead.php?no=881311" target="_blank">News Korea</a></li>
			<li><a href="http://press.newslook.co.kr/newsRead.php?no=881311" target="_blank">NEWS LOOK</a></li>
			<li><a href="http://press.news-plus.co.kr/newsRead.php?no=881311" target="_blank">News Plus</a></li>
			<li><a href="http://www.newsdigest.co.kr/_press?newsid=881311" target="_blank">Newsdigest</a></li>
			<li><a href="http://press.newsdot.co.kr/newsRead.php?no=881311" target="_blank">NEWSDOT</a></li>
			<li><a href="http://press.newsfinder.co.kr/newsRead.php?no=881311" target="_blank">Newsfinder</a></li>
			<li><a href="http://press.newsinseoul.co.kr/newsRead.php?no=881311" target="_blank">newsinseoul</a></li>
			<li><a href="http://press.newsinsidekorea.com/newsRead.php?no=881311" target="_blank">Newsinsidekorea</a>
			</li>
			<li><a href="http://press.newstopia.co.kr/newsRead.php?no=881311" target="_blank">NewsTopia</a></li>
			<li><a href="http://www.reporternside.com/_press/?newsid=881311" target="_blank">NSIDE</a></li>
			<li><a href="http://press.nutrition2.asia/newsRead.php?no=881311" target="_blank">Nutrition</a></li>
			<li><a href="http://press.nwtnews.co.kr/newsRead.php?no=881311" target="_blank">NWTNEWS</a></li>
			<li><a href="http://www.onlinknews.com/v-1-573029.aspx" target="_blank">OnLink News</a></li>
			<li><a href="http://www.haiwaichn.com/v_1/362155.aspx" target="_blank">Overseas Chinese</a></li>
			<li><a href="http://www.pcbrand.com.cn/2018/1227/9058.html" target="_blank">PC Brand Net</a></li>
			<li><a href="http://www.pioneersci.com/v-1-318648.aspx" target="_blank">Pioneer Science and Tech Net</a>
			</li>
			<li><a href="http://press.pwnews.co.kr/newsRead.php?no=881311" target="_blank">Power News</a></li>
			<li><a href="http://www.quamnet.com/newscontent.action?articleId=5972046&listSectionCode=NEW_BUW&request_locale=zh_TW"
					target="_blank">Quamnet</a></li>
			<li><a href="http://www.redbong.cn/v1/89593.aspx" target="_blank">Red Bong</a></li>
			<li><a href="http://press.uelt.net/newsRead.php?no=881311" target="_blank">Research News</a></li>
			<li><a href="http://press.sagunin.com/newsRead.php?no=881311" target="_blank">sagunin.com</a></li>
			<li><a href="http://www.skenews.kr/_press/?newsid=881311" target="_blank">Sankyung Enews</a></li>
			<li><a href="http://www.sanmacknews.com/_press/?newsid=881311" target="_blank">Sanmacknews</a></li>
			<li><a href="http://press.sbetv.co.kr/newsRead.php?no=881311" target="_blank">SBETV</a></li>
			<li><a href="http://www.sejongmedia.com/_press/?newsid=881311" target="_blank">Sejong TV</a></li>
			<li><a href="http://www.sgilbo.kr/_press/?newsid=881311" target="_blank">SG Ilbo</a></li>
			<li><a href="http://www.theshandong.com/v1/276412.aspx" target="_blank">Shandong Online</a></li>
			<li><a href="http://www.zgjjdb.com.cn/2018/1227/15849.html" target="_blank">Shanghai Economic News Net</a>
			</li>
			<li><a href="http://www.shanghaiinfo.cn/v-1-73203.html" target="_blank">Shanghai Info</a></li>
			<li><a href="http://www.sharesinv.com/zh/articles/BWC15468/" target="_blank">Shares Investment</a></li>
			<li><a href="http://press.siheungjounal.co.kr/newsRead.php?no=881311" target="_blank">Siheung Journal</a>
			</li>
			<li><a href="https://cj.sina.com.cn/articles/view/2676312451/9f85498300100ci13" target="_blank">Sina Finance
					Headlines</a></li>
			<li><a href="https://weibo.com/2676312451/H9jY88oho?from=page_1002062676312451_profile&wvr=6&mod=weibotime&type=comment#_rnd1545980459140"
					target="_blank">Sina Weibo</a></li>
			<li><a href="http://press.sisai.co.kr/newsRead.php?no=881311" target="_blank">Sisa Icheon</a></li>
			<li><a href="http://press.sisajeju.com/newsRead.php?no=881311" target="_blank">Sisa Jeju</a></li>
			<li><a href="http://press.koreajn.co.kr/newsRead.php?no=881311" target="_blank">Sisa Korea Journal</a></li>
			<li><a href="http://www.sisatime.co.kr/_press/?newsid=881311" target="_blank">Sisa Time</a></li>
			<li><a href="http://press.sisabreak.com/newsRead.php?no=881311" target="_blank">Sisabreak</a></li>
			<li><a href="http://press.sisaeco.kr/newsRead.php?no=881311" target="_blank">Sisaeco</a></li>
			<li><a href="http://press.sobilife.com/newsRead.php?no=881311" target="_blank">Sobilife News</a></li>
			<li><a href="https://114872.kuaizhan.com/93/34/p58374763268616" target="_blank">Sohu Kuaizhan</a></li>
			<li><a href="http://www.sohu.com/a/284677126_114872" target="_blank">Sohu Media</a></li>
			<li><a href="http://api.k.sohu.com/api/vm/view.do?m=news&sid=12&subId=16349&termId=99016349&newsId=332136051"
					target="_blank">Sohu News (Mobile)</a></li>
			<li><a href="http://www.thehuanan.com/v-1-502317.aspx" target="_blank">Southern China News Net</a></li>
			<li><a href="http://press.spotvnews.co.kr/newsRead.php?no=881311" target="_blank">SPO TV</a></li>
			<li><a href="http://www.astarl.cn/v-1-26113.html" target="_blank">Star Entertainment</a></li>
			<li><a href="http://www.starfov.com/v1/62078.aspx" target="_blank">Star Vision</a></li>
			<li><a href="http://www.starinnews.com/_press/?newsid=881311" target="_blank">StarInNews</a></li>
			<li><a href="http://press.startnews.co.kr/newsRead.php?no=881311" target="_blank">Start News</a></li>
			<li><a href="http://www.steelprice.co.kr/_press/?newsid=881311" target="_blank">Steelprice</a></li>
			<li><a href="http://www.stnsports.co.kr/_press/?newsid=881311" target="_blank">STN Sports</a></li>
			<li><a href="http://press.storekorea.co.kr/newsRead.php?no=881311" target="_blank">STOREKOREA</a></li>
			<li><a href="http://www.astaishan.com/v-1-517708.aspx" target="_blank">Taishan Net</a></li>
			<li><a href="http://www.etechome.com/v1/59828.aspx" target="_blank">Tech Home</a></li>
			<li><a href="http://kuaibao.qq.com/s/20181226A11IPC00" target="_blank">Tencent Kuaibao</a></li>
			<li><a href="http://www.thebiz.cn/v-1-566616.aspx" target="_blank">The Biz</a></li>
			<li><a href="https://www.cna.com.tw/postwrite/Detail/247240.aspx" target="_blank">The Central News
					Agency</a></li>
			<li><a href="http://press.thedailymoney.com/newsRead.php?no=881311" target="_blank">The Daily Money</a></li>
			<li><a href="http://press.fairn.co.kr/newsRead.php?no=881311" target="_blank">The Fair News</a></li>
			<li><a href="http://www.theglobale.com/v-1-499142.aspx" target="_blank">The Globale</a></li>
			<li><a href="http://www.thenan.cn/v-1-501527.aspx" target="_blank">The Henan Net</a></li>
			<li><a href="http://press.ksdaily.co.kr/newsRead.php?no=881311" target="_blank">The Korea Securities
					Dailynews</a></li>
			<li><a href="http://press.theleader.kr/newsRead.php?no=881311" target="_blank">The Leader</a></li>
			<li><a href="http://www.themeila.com/v-1-22798.html" target="_blank">The Meila</a></li>
			<li><a href="http://www.themoney.com.cn/v_1/368446.aspx" target="_blank">The Money Net</a></li>
			<li><a href="http://press.mainnews.co.kr/newsRead.php?no=881311" target="_blank">The News</a></li>
			<li><a href="http://www.theonews.com/v-1-789056.aspx" target="_blank">The One News</a></li>
			<li><a href="http://www.thesejong.tv/_press/?newsid=881311" target="_blank">The Sejong TV</a></li>
			<li><a href="http://press.swnews.kr/newsRead.php?no=881311" target="_blank">The Seoul Welfare Newspaper</a>
			</li>
			<li><a href="http://www.theshenzhen.net/v1/280773.aspx" target="_blank">The Shenzhen</a></li>
			<li><a href="http://www.thestarcity.com/v-1-492073.aspx" target="_blank">The Star City Net</a></li>
			<li><a href="http://www.thetodaycn.com/v_1/328886.aspx" target="_blank">The Today China</a></li>
			<li><a href="http://www.thetodaynews.cn/v_1/351515.aspx" target="_blank">The Today News</a></li>
			<li><a href="http://www.thewanxiang.com/v-1-75084.html" target="_blank">The Wanxiang</a></li>
			<li><a href="http://www.ithepeople.kr/_press/?newsid=881311" target="_blank">thepeople</a></li>
			<li><a href="http://www.tiptipnews.co.kr/_press/?newsid=881311" target="_blank">Tip Tip News</a></li>
			<li><a href="http://press.todayan.com/newsRead.php?no=881311" target="_blank">Todayan</a></li>
			<li><a href="https://www.toutiao.com/item/6639215379996475907/" target="_blank">Toutiao</a></li>
			<li><a href="http://businesswire.tranews.com/news.php?id=39436" target="_blank">TraNews</a></li>
			<li><a href="http://press.tvj.co.kr/newsRead.php?no=881311" target="_blank">TVJ News</a></li>
			<li><a href="http://www.ucinews.kr/_press/?newsid=881311" target="_blank">UCI News</a></li>
			<li><a href="http://press.ujmadang.com/newsRead.php?no=881311" target="_blank">UJ Madang Shinmun</a></li>
			<li><a href="http://www.upkorea.net/_press?newsid=881311" target="_blank">UP Korea</a></li>
			<li><a href="http://www.upbeijing.cn/v-1-499551.aspx" target="_blank">UpBeijing</a></li>
			<li><a href="http://press.volleyballkorea.com/newsRead.php?no=881311"
					target="_blank">Volleyballkorea.com</a></li>
			<li><a href="http://www.westviews.cn/v-1-492538.aspx" target="_blank">West Views</a></li>
			<li><a href="http://www.xibucaijing.com/2018/1227/9584.html" target="_blank">Western China Finance Net</a>
			</li>
			<li><a href="http://press.wooriy.com/newsRead.php?no=881311" target="_blank">WooriY</a></li>
			<li><a href="http://press.iworldtoday.com/newsRead.php?no=881311" target="_blank">World Today</a></li>
			<li><a href="http://www.xincaiguan.com/v1/215840.aspx" target="_blank">Xincaiguan</a></li>
			<li><a href="http://www.theweishang.com/v1/171003.aspx" target="_blank">Xinhua Biz Info</a></li>
			<li><a href="http://www.thexinhua.com/v1/319188.aspx" target="_blank">Xinhua Online</a></li>
			<li><a href="http://www.xinlianews.com/v-1-68576.html" target="_blank">Xinlian News</a></li>
			<li><a href="http://www.xinyuanol.com/v_1/328575.aspx" target="_blank">Xinyuan Online</a></li>
			<li><a href="https://xueqiu.com/5280991039/118895438" target="_blank">Xueqiu</a></li>
			<li><a href="http://www.yalianews.com/v-1-93100.html" target="_blank">Yalian News</a></li>
			<li><a href="https://n.yam.com/Article/20181226181812" target="_blank">Yam News</a></li>
			<li><a href="http://press.ycgmnews.com/newsRead.php?no=881311" target="_blank">YCGM News</a></li>
			<li><a href="http://press.yc-j.kr/newsRead.php?no=881311" target="_blank">Yecheon Journal</a></li>
			<li><a href="http://press.yc24.kr/newsRead.php?no=881311" target="_blank">YeongCheon News24</a></li>
			<li><a href="http://press.netongs.com/newsRead.php?no=881311" target="_blank">Yeosu Netong</a></li>
			<li><a href="http://news.yesky.com/277/1744589277.shtml" target="_blank">Yesky</a></li>
			<li><a href="http://press.yhenews.com/newsRead.php?no=881311" target="_blank">Yhenews</a></li>
			<li><a href="https://www.yidianzixun.com/article/0KvztrVJ" target="_blank">Yidian News</a></li>
			<li><a href="http://www.youngvogue.cn/v-1-25130.html" target="_blank">Young Vogue</a></li>
			<li><a href="http://www.youzhilive.com/v-1-29976.html" target="_blank">Youzhi Live</a></li>
			<li><a href="http://press.ystdnews.com/newsRead.php?no=881311" target="_blank">ystdnews</a></li>
			<li><a href="http://news.ydunews.com/2018/1227/5696.html" target="_blank">Yuedu Net</a></li>
			<li><a href="http://www.yunjuu.com/info/1323699.html" target="_blank">Yunjuu Net</a></li>
			<li><a href="http://www.theyuxin.com/v-1-93359.html" target="_blank">Yuxin Net</a></li>
			<li><a href="http://www.gzaza.com/v1/58154.aspx" target="_blank">Zaza Entertainment</a></li>
			<li><a href="http://news.zhexunw.com/2018/1227/5692.html" target="_blank">Zhejiang Info Net</a></li>
			<li><a href="http://www.zhitech.net/v-1-319135.aspx" target="_blank">ZhiTech</a></li>
			<li><a href="http://www.chinaf.top/v-1-494604.aspx" target="_blank">Zhonghua Finance Net</a></li>
			<li><a href="http://www.zhongjinnews.com/v-1-501571.aspx" target="_blank">Zhongjing News</a></li>
			<li><a href="http://news.zhdushi.com/2018/1227/5697.html" target="_blank">Zhuhai City Net</a></li>
			<li><a href="http://www.zikoo.com/news/5h9fajkfm.html" target="_blank">Zikoo Online</a></li>
		</ul>
	</div>
</div><!-- /.blk_media_other -->


{% include 'atomhome/include/en/footer.html' %}

<script src="{% static "atomhome/js/common.js" %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-108481174-1');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138678906-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-138678906-1');
</script>

</body>

</html>