{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}


<meta content="" name="keywords">
<meta content="" name="description">
<title>APPLY FOR OFFICIAL EXCHANGE|AtomSolutions</title>



<div class="page-bg"></div>
<div class="page-ttl">
    <div class="wrap spaceL">
        <h1 class="ttlPage">APPLY FOR OFFICIAL EXCHANGE</h1>
    </div><!-- /.wrap -->
</div><!-- /.page-ttl -->
<div class="page-wrap">
    <div class="wrap spaceL">
        <p class="txt-center2">Interested in becoming one of our authorized exchanges? Please send the following
            contents to the address below.<br />
            ※Application is accepted in English and Japanese only.</p>
        <div class="blk-gray">
            <div class="col">
                <p>・Country<br />
                    ・Company Name<br />
                    ・Website URL<br />
                    ・Any virtual currency license and legality in your country<br />
                    ・Business Plan<br />
                    （Please describe your marketing plan, manpower figure in operating the exchange, annual commercial
                    budget, and other appeal points in your business plan.）</p>
            </div><!-- /.col -->
        </div><!-- /.blk-gray -->
        <div class="blk-mail">
            <span>E-mail address</span>
            <a href="mailto:info@atom-solutions.jp" target="_blank">info@atom-solutions.jp</a>
        </div><!-- /.blk-mail -->
    </div><!-- /.wrap -->
</div><!-- /.page-wrap -->
{% include 'atomhome/include/en/footer.html' %}

<script src="{% static "atomhome/js/common.js" %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>