{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}


<meta content="" name="keywords">
<meta content="" name="description">
<title>PRIVACY POLICY|AtomSolutions</title>


<div class="page-bg"></div>
<div class="page-ttl">
    <div class="wrap spaceL">
        <h1 class="ttlPage">PRIVACY POLICY</h1>
    </div><!-- /.wrap -->
</div><!-- /.page-ttl -->
<div class="privacyarea">
    <div class="wrap spaceL">
        <div class="col">
            <p>As we operate trustworthy businesses, we regard the safety management of personal information is
                important and part of our social responsibility. Our endeavor is proper handling, management and
                maintenance of personal information for the responsibility fulfillment mentioned above.</p>
            <h3>1. About collecting personal information</h3>
            <p>The purpose shall be clearly express in formal writing or verbally whichever is applicable in
                collecting personal information beforehand. Personal information shall only be collected in lawful
                and fair means of practice after obtaining clear understanding and consent from the customer.</p>
            <h3>2. Usage of personal information ・ Third party provision</h3>
            <p>We will use your collected personal information for our business purpose. In addition, except in
                cases stipulated by law, we will not supply your information to any third party for any purpose or
                by third party’s direct marketing without your duly express consent.</p>
            <h3>3. Management of personal information</h3>
            <p>We constantly update the contents of the collected personal information to maintain its accuracy and
                manage this safely. In addition, in order to prevent the loss, destruction, falsification and
                leakage of personal information, we will take appropriate information security measures against
                unauthorized access, intrusion of computer viruses, etc. We will ensure to educate all of our
                executives together with its employees to guarantee that none of this personal information shall be
                used without proper authorization.</p>
            <h3>4. Respect for individual rights</h3>
            <p>We respect the rights of individuals concerning personal information. In case we have confirmed your
                identity, we will response to your requests for disclosure, correction, deletion etc. appropriately.
            </p>
        </div><!-- /.col -->
    </div><!-- /.wrap -->
</div><!-- /.faq -->

{% include 'atomhome/include/en/footer.html' %}

<script src="{% static "atomhome/js/common.js" %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>