{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}
{% load i18n %}
<meta content="AtomSolutions,Eternalcoin,Eternaltoken" name="keywords">
<meta content="" name="description">
<title>{% trans "Video Gallery|AtomSolutions" %}</title>

<body class="video">



    <div class="page-ttl video">
        <div class="wrap spaceL">
            <h1 class="ttlPage">{% trans "VIDEO GALLERY" %}</h1>
        </div>
    </div><!-- /.page-ttl -->



    <div class="ctsVideo forPc">
        <div class="blkLeft">
            <div>
                <div class="top">
                    <div class="col"><a class="js-video-button" data-video-id='pSRhCxKiKBQ'>
                            <div class="tmb">
                                <img src="{% static "atomhome/img/en/video/introducing_evor.png" %}" >
					<p>{% trans "【EVOR】 Introducing our new service!" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Wallet" %}</strong>
					<span>{% trans "2018/04/15" %}</span>
				</div>
			</a></div>
		</div>
		
		<div class="btm">
		<div class="col"><a class="js-video-button" data-video-id='_tX1X2vqt4k'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/businesstieup.jpg" %}">
					<p>{% trans "【Business Tie-up】Atom Solutions & Eternal Wallet PH" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Wallet" %}</strong>
					<span>{% trans "2017/12/14" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='9jbvcYDbw6I'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/ewcm3.jpg" %}">
					<p>{% trans "Eternal Wallet CM3" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Wallet" %}</strong>
					<span>{% trans "2017/12/14" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='zo-L-OtqYJM'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/ewcm2.jpg" %}">
					<p>{% trans "Eternal Wallet CM2" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Wallet" %}</strong>
					<span>{% trans "2017/12/12" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='AJx0KNbYpN0'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/ewcm1.jpg" %}">
					<p>{% trans "Eternal Wallet CM1" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Wallet" %}</strong>
					<span>{% trans "2017/12/4" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='6Wxd0gfBvzQ'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/elookapp.jpg" %}">
					<p>{% trans "【E-Look Application】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "TokenHub" %}</strong>
					<span>{% trans "2017/02/01" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='34Qg8l_UVqQ'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/th1year.jpg" %}">
					<p>{% trans "Token Hub Anniversary" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Imagepro" %}</strong>
					<span>{% trans "2016/11/17" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='Z64i1Ayk7xM'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/shoukai2en.jpg" %}">
					<p>{% trans "Eternal Coin Introduction (English)" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Entertainment" %}</strong>
					<span>{% trans "2016/09/30" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='QkXAe04Kh-4'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/shoukai3.jpg" %}">
					<p>{% trans "Eternal Coin Introduction 3" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Entertainment" %}</strong>
					<span>{% trans "2016/08/08" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='bIKG1RtMmlg'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/shoukai2.jpg" %}">
					<p>{% trans "Eternal Coin Introduction 2" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Entertainment" %}</strong>
					<span>{% trans "2016/05/25" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='vgH3LIzD4GA'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/cm1.jpg" %}">
					<p>{% trans "Token Hub CM 1.00" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "TokenHub" %}</strong>
					<span>{% trans "2016/05/11" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='0m4zqwMRzGM'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/cm2.jpg" %}">
					<p>{% trans "Token Hub CM 2.00" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "TokenHub" %}</strong>
					<span>{% trans "2016/05/11" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='cTAu8e8RDXU'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/cm3.jpg" %}">
					<p>{% trans "Token Hub CM 3.00" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "TokenHub" %}</strong>
					<span>{% trans "2016/05/11" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='AeJjDqt2jCw'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/cm4.jpg" %}">
					<p>{% trans "Token Hub CM 4.00" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "TokenHub" %}</strong>
					<span>{% trans "2016/05/11" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='ZieWmUhQg58'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/cm5.jpg" %}">
					<p>{% trans "Token Hub CM 5.00" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "TokenHub" %}</strong>
					<span>{% trans "2016/05/11" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='OtT0oaxGNyE'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/shoukai1.jpg" %}">
					<p>{% trans "Eternal Coin Introduction 1" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Entertainment" %}</strong>
					<span>{% trans "2016/02/16" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='ulP64wfFhwA'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/soukintest.jpg" %}">
					<p>{% trans "Japan/Hong Kong" %} <br>{% trans "Remittance Experiment" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Entertainment" %}</strong>
					<span>{% trans "2015/12/10" %}</span>
				</div>
			</a></div>
		</div>
	</div>
	</div>


	<div class="blkRight">
		<div>
			<h2>{% trans "The feature of Eternal Coin" %}</h2>
			<div class="col"><a class="js-video-button" data-video-id='CpMJomBqrSw'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/vr.jpg" %}">
					<p>【VR】</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/04/04" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='Kjh6DyVPH5Y'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/exchange.jpg" %}">
					<p>{% trans "【Currency Exchange】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/04/04" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='v5uPsXdy8B0'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/point.jpg" %}">
					<p>{% trans "【Point】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/04/04" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='TuYqYRCDXdk'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/onetouch.jpg" %}">
					<p>{% trans "【One touch transfer】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/04/02" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='yeYoxH4Vrd0'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/tel.jpg" %}">
					<p>{% trans "【Transfer via Phone Number】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/03/29" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='ZF9cPt0rXyk'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/bunpai.jpg" %}">
					<p>{% trans "【Dividends Distribution】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/03/27" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='hy6dOfwQjQs'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/bunkatsu.jpg" %}">
					<p>{% trans "【Value Division】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/03/26" %}</span>
				</div>
			</a></div>
		</div>
	</div>
</div><!-- /.ctsVideo -->




<div class="ctsVideoSp forSp">
	<div class="top">
		<div class="col"><a class="js-video-button" data-video-id='pSRhCxKiKBQ'>
			<div class="tmb">
				<img src="{% static "atomhome/img/en/video/introducing_evor.png" %}">
				<p>{% trans "【EVOR】Introducing our new service!" %}</p>
			</div>
			<div class="data">
				<strong>{% trans "Eternal Wallet" %}</strong>
				<span>{% trans "2019/04/15" %}</span>
			</div>
		</a></div>
	</div>

	<div class="blkRight">
		<div class="col"><a class="js-video-button" data-video-id='CpMJomBqrSw'>
			<div class="tmb">
				<img src="{% static "atomhome/img/en/video/vr.jpg" %}">
				<p>The feature of Eternal Coin【VR】</p>
			</div>
			<div class="data">
				<strong>{% trans "ATOM SOLUTIONS" %}</strong>
				<span>{% trans "2018/04/04" %}</span>
			</div>
		</a></div>
		<div class="flex">
			<div class="col"><a class="js-video-button" data-video-id='Kjh6DyVPH5Y'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/exchange.jpg" %}">
					<p>{% trans "【Currency Exchange】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/04/04" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='v5uPsXdy8B0'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/point.jpg" %}">
					<p>{% trans "【Point】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/04/04" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='TuYqYRCDXdk'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/onetouch.jpg" %}">
					<p>{% trans "【One touch transfer】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/04/02" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='yeYoxH4Vrd0'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/tel.jpg" %}">
					<p>{% trans "【Transfer via Phone Number】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/03/29" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='ZF9cPt0rXyk'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/bunpai.jpg" %}">
					<p>{% trans "【Dividends Distribution】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/03/27" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='hy6dOfwQjQs'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/bunkatsu.jpg" %}">
					<p>{% trans "【Value Division】" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "ATOM SOLUTIONS" %}</strong>
					<span>{% trans "2018/03/26" %}</span>
				</div>
			</a></div>
		</div>
	</div>









	<div class="blkLeft">
	<div class="col"><a class="js-video-button" data-video-id='_tX1X2vqt4k'>
			<div class="tmb">
				<img src="{% static "atomhome/img/en/video/businesstieup.jpg" %}">
				<p>【Business Tie-up】<br>Atom Solutions & Eternal Wallet PH</p>
			</div>
			<div class="data">
				<strong>{% trans "Eternal Wallet" %}</strong>
				<span>{% trans "2018/09/24" %}</span>
			</div>
		</a></div>
		<div class="col"><a class="js-video-button" data-video-id='9jbvcYDbw6I'>
			<div class="tmb">
				<img src="{% static "atomhome/img/en/video/ewcm3.jpg" %}">
				<p>{% trans "Eternal Wallet CM3" %}</p>
			</div>
			<div class="data">
				<strong>{% trans "Eternal Wallet" %}</strong>
				<span>{% trans "2017/12/14" %}</span>
			</div>
		</a></div>
		<div class="flex">
			<div class="col"><a class="js-video-button" data-video-id='zo-L-OtqYJM'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/ewcm2.jpg" %}">
					<p>{% trans "CM2" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Wallet" %}</strong>
					<span>{% trans "2017/12/12" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='AJx0KNbYpN0'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/ewcm1.jpg" %}">
					<p>{% trans "CM1" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Wallet" %}</strong>
					<span>{% trans "2017/12/4" %}</span>
				</div>
			</a></div>
		</div>
		<div class="col"><a class="js-video-button" data-video-id='6Wxd0gfBvzQ'>
			<div class="tmb">
				<img src="{% static "atomhome/img/en/video/elookapp.jpg" %}">
				<p>{% trans "【E-Look Application】" %}</p>
			</div>
			<div class="data">
				<strong>{% trans "TokenHub" %}</strong>
				<span>{% trans "2017/02/01" %}</span>
			</div>
		</a></div>
		<div class="col"><a class="js-video-button" data-video-id='34Qg8l_UVqQ'>
			<div class="tmb">
				<img src="{% static "atomhome/img/en/video/th1year.jpg" %}">
				<p>{% trans "Token Hub Anniversary" %}</p>
			</div>
			<div class="data">
				<strong>{% trans "Imagepro" %}</strong>
				<span>{% trans "2016/11/17" %}</span>
			</div>
		</a></div>
		<div class="col"><a class="js-video-button" data-video-id='Z64i1Ayk7xM'>
			<div class="tmb">
				<img src="{% static "atomhome/img/en/video/shoukai2en.jpg" %}">
				<p>{% trans "Eternal Coin Introduction (English)" %}</p>
			</div>
			<div class="data">
				<strong>{% trans "Eternal Entertainment" %}</strong>
				<span>{% trans "2016/09/30" %}</span>
			</div>
		</a></div>
		<div class="flex">
			<div class="col"><a class="js-video-button" data-video-id='QkXAe04Kh-4'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/shoukai3.jpg" %}">
					<p>{% trans "Introduction 3" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Entertainment" %}</strong>
					<span>{% trans "2016/08/08" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='bIKG1RtMmlg'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/shoukai2.jpg" %}">
					<p>{% trans "Introduction 2" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "Eternal Entertainment" %}</strong>
					<span>2016/05/25</span>
				</div>
			</a></div>
		</div>
		<div class="col"><a class="js-video-button" data-video-id='vgH3LIzD4GA'>
			<div class="tmb">
				<img src="{% static "atomhome/img/en/video/cm1.jpg" %}">
				<p>{% trans "Token Hub CM 1.00" %}</p>
			</div>
			<div class="data">
				<strong>{% trans "TokenHub" %}</strong>
				<span>{% trans "2016/05/11" %}</span>
			</div>
		</a></div>
		<div class="flex">
			<div class="col"><a class="js-video-button" data-video-id='0m4zqwMRzGM'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/cm2.jpg" %}">
					<p>{% trans "Token Hub CM 2.00" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "TokenHub" %}</strong>
					<span>{% trans "2016/05/11" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='cTAu8e8RDXU'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/cm3.jpg" %}">
					<p>{% trans "Token Hub CM 3.00" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "TokenHub" %]</strong>
					<span>{% trans "2016/05/11" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='AeJjDqt2jCw'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/video/cm4.jpg" %}">
					<p>{% trans "Token Hub CM 4.00" %]</p>
				</div>
				<div class="data">
					<strong>{% trans "TokenHub" %}</strong>
					<span>{% trans "2016/05/11" %}</span>
				</div>
			</a></div>
			<div class="col"><a class="js-video-button" data-video-id='ZieWmUhQg58'>
				<div class="tmb">
					<img src="{% static "atomhome/img/en/en/video/cm5.jpg" %}">
					<p>{% trans "Token Hub CM 5.00" %}</p>
				</div>
				<div class="data">
					<strong>{% trans "TokenHub" %}</strong>
					<span>{% trans "2016/05/11" %}</span>
				</div>
			</a></div>
		</div>
		<div class="col"><a class="js-video-button" data-video-id='OtT0oaxGNyE'>
			<div class="tmb">
				<img src="{% static "atomhome/img/en/video/shoukai1.jpg" %}">
				<p>{% trans "Eternal Coin Introduction 1" %}</p>
			</div>
			<div class="data">
				<strong>{% trans "Eternal Entertainment" %}</strong>
				<span>{% trans "2016/02/16" %}</span>
			</div>
		</a></div>
		<div class="col"><a class="js-video-button" data-video-id='ulP64wfFhwA'>
			<div class="tmb">
				<img src="{% static "atomhome/img/en/video/soukintest.jpg" %}">
				<p>{% trans "Japan/Hong Kong" %} <br>{% trans "Remittance Experiment" %}</p>
			</div>
			<div class="data">
				<strong>{% trans "Eternal Entertainment" %}</strong>
				<span>{% trans "2015/12/10" %}</span>
			</div>
		</a></div>
	</div>


	
</div><!-- /.ctsVideo -->





{% include 'atomhome/include/en/footer.html' %}


<script src="{% static "atomhome/js/common.js" %}"></script>
<script src="{% static "atomhome/js/modal-video/jquery-modal-video.min.js" %}"></script>
    


    <script>
        $(".js-video-button").modalVideo({
            youtube: {
                controls: 0,
                nocookie: true
            }
        });
    </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>

</body>E