{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}
{% load i18n %}

<meta name='robots' content='noindex,follow' />
<meta content="" name="keywords">
<meta content="" name="description">
<title>{% trans "Official Page|AtomSolutions" %}</title>




<div class="ctsIndex">


    <div class="main">
        <video src="{% static "atomhome/img/en/mov01.mp4" %}" muted autoplay loop webkit-playsinline playsinline
            preload="metadata"></video>
        <div class="main-tx">
            <span>{% trans "ETERAL COIN（XEC)" %}</span>
        </div>
        <img src="{% static "atomhome/img/en/main.png" %}" alt="ATOM SOLUTIONS" class="ico-main">
        <div class="ico-scroll">
            <img src="{% static "atomhome/img/en/ico-scroll.png" %}" alt="SCROLL" class="ico-down">
            <span>SCROLL</span>
        </div><!-- /.ico-scroll -->
    </div><!-- /.main -->
    <div class="top02">
        <div class="ctsIdx02 spaceL">
            <p>{% trans "50% of the service fees," %}<br class="forSp">{% trans "incurred during the buying and selling," %} <br>{% trans "and overseas remittances of" %}
                 <br class="forSp">{% trans "Eternal Coin via Eternal Wallet," %} <br>{% trans "will be rebated to Eternal Coin holders." %}
            </p>
        </div><!-- /.ctsIdx02 -->
        <video src="{% static "atomhome/img/en/mvTop02.mp4" %}" muted autoplay loop webkit-playsinline playsinline
            preload="metadata"></video>
    </div><!-- /.top02 -->
    <div class="top4">
        <div class="wrap spaceL">
            <h2 class="ttlM">{% trans "To Trading" %}</h2>
            <p>{% trans "To trade Eternal Coin, please create an Eternal Wallet to the following exchanges." %}</p>
            <div class="exchanges">
                <div class="col"><a href="https://eternallive.jp/investment/" target="_blank">
                        <div class="ico">
                            <img src="{% static "atomhome/img/en/ico-el.png" %}" alt="ETERNAL LIVE（Japan）">
                        </div><!-- /.ico -->
                        <div class="txt">
                            {% trans "ETERNAL LIVE（Japan）" %}
                        </div><!-- /.txt -->
                    </a></div><!-- /.col -->
                <div class="col"><a href="https://tokenhub.asia/" target="_blank">
                        <div class="ico">
                            <img src="{% static "atomhome/img/en/ico-th.png" %}" alt="TOKEN HUB（Philippines）">
                        </div><!-- /.ico -->
                        <div class="txt">
                            {% trans "TOKEN HUB（Philippines）" %}
                        </div><!-- /.txt -->
                    </a></div><!-- /.col -->
                <div class="col"><a href="https://eternalhongkong.com/" target="_blank">
                        <div class="ico">
                            <img src="{% static "atomhome/img/en/ico-eh.png" %}" alt="ETERNAL HONG KONG（Hong Kong）">
                        </div><!-- /.ico -->
                        <div class="txt">
                            {% trans "ETERNAL HONG KONG（Hong Kong)" %}
                        </div><!-- /.txt -->
                    </a></div><!-- /.col -->
                <div class="col"><a href="http://www.eternalkorea.com/" target="_blank">
                        <div class="ico">
                            <img src="{% static "atomhome/img/en/ico-ek.png" %}" alt="ETERNAL KOREA（Korea）">
                        </div><!-- /.ico -->
                        <div class="txt">
                            {% trans "ETERNAL KOREA（Korea）" %}
                        </div><!-- /.txt -->
                    </a></div><!-- /.col -->
            </div><!-- /.exchanges -->
        </div><!-- /.wrap -->
        <div class="list-slide">
            <ul class="clearfix">
                <li><img src="{% static "atomhome/img/en/slidee001.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee002.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee003.jpg" %}"></li>
                <!--<li><img src="/en/slidee004.jpg"> </li>-->
                <li><img src="{% static "atomhome/img/en/slidee005.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee006.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee007.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee008.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee009.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee010.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee011.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee012.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee013.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee014.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee015.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee016.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee017.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee018.jpg" %}"></li>
                <li><img src="{% static "atomhome/img/en/slidee019.jpg" %}"></li>
            </ul>
        </div><!-- /.list-slide -->
    </div><!-- /.top4 -->
    <div class="top5">
        <div class="wrap spaceL">
            <h2 class="ttlM">{% trans "Features of Eternal Wallet" %}</h2>
            <div class="cts-mov">
                <div class="col">
                    <a class="movLink" href="https://youtu.be/ZF9cPt0rXyk" target="_blank"><img
                            src="{% static "atomhome/img/en/mv04.png" %}"></a>
                    <div class="data movData">
                        <strong>{% trans "Fee distribution function" %}</strong>
                        <p>{% trans "Approx. 5 Yen is charged as transaction fee for any remittance or sale, purchase done using Eternal Wallet. 50% of the total fee collected during 1 week is distributed to the Eternal Coin owner. This is applicable for all the Eternal Coin owners, so the users can earn profits even without performing any transaction." %}</p>
                    </div><!-- /.data -->
                </div><!-- /.col -->
                <div class="col">
                    <a class="movLink" href="https://youtu.be/hy6dOfwQjQs" target="_blank"><img
                            src="{% static "atomhome/img/en/mv01.png" %}"></a>
                    <div class="data movData">
                        <strong>{% trans "Division function" %}</strong>
                        <p>{% trans "Unlike any other virtual currency, Eternal Coins can only be processed through the Eternal Wallets. This unique characteristic allows to split Eternal Coins into smaller bits." %}
                            <br />
                            {% trans "While the current architecture of Eternal Coin is not blockchain-based, a possible adoption of blockchain technology in the future won’t prevent the division of Eternal Coins, as Eternal Coins can only exist inside the Eternal Wallets." %}
                            <br />
                            {% trans "*If there is a plan to perform division of Eternal Coins, a notification will be provided at least one month in advance." %} </p>
                    </div><!-- /.data -->
                </div><!-- /.col -->
                <div class="col">
                    <a class="movLink" href="https://youtu.be/yeYoxH4Vrd0" target="_blank"><img
                            src="{% static "atomhome/img/en/mv05.png" %}"></a>
                    <div class="data movData">
                        <strong>{% trans "Phone number transmission function" %}</strong>
                        <p>{% trans "In Eternal Wallet, the users can transmit money to any recipient’s phone number instead of Wallet Address. The function not only allows the users to avoid the trouble of typing long Wallet Address or sending money to a wrong recipient, but also serves as a security measure to protect against identity theft and other types of fraud." %}</p>
                    </div><!-- /.data -->
                </div><!-- /.col -->
                <div class="col">
                    <a class="movLink" href="https://youtu.be/TuYqYRCDXdk" target="_blank"><img
                            src="{% static "atomhome/img/en/mv03.png" %}"></a>
                    <div class="data movData">
                        <strong>{% trans "One-touch transmission" %}</strong>
                        <p>{% trans "For the users who do not own any Eternal Coins, the one-touch transmission function allows conversion of a given fiat currency into a different fiat currency, and instant transmission to other party`s Eternal Wallet." %}</p>
                    </div><!-- /.data -->
                </div><!-- /.col -->
            </div><!-- /.cts-mov -->
            <h2 class="ttlM">{% trans "More Features Coming Soon" %}</h2>
            <div class="cts-mov">
                <div class="col">
                    <a class="movLink" href="https://youtu.be/Kjh6DyVPH5Y" target="_blank"><img
                            src="{% static "atomhome/img/en/mv02.png" %}"></a>
                    <div class="data movData">
                        <strong>{% trans "Money exchange function" %}</strong>
                        <p>{% trans "The money exchange function is currently in development." %}
                            <br />
                            {% trans "Please read the white paper for details regarding the logic of money exchange function." %}
                            <br />
                            {% trans "*There is a possibility that this function cannot be used at certain exchanges, depending on the country where it is based." %}</p>
                    </div><!-- /.data -->
                </div><!-- /.col -->
                <div class="col">
                    <a class="movLink" href="https://youtu.be/v5uPsXdy8B0" target="_blank"><img
                            src="{% static "atomhome/img/en/mv06.png" %}"></a>
                    <div class="data movData">
                        <strong>{% trans "Point aggregation wallet" %}</strong>
                        <p>{% trans "Atom Solutions is currently developing a wallet that allows the users to consolidate all the points cards that they carry in their purses, and also enables small shops and sole proprietors to issue their own points cards with relative ease. This new wallet will also be equipped with a capability to run highly cost-effective advertisements using the GPS functions that are built into smartphones." %}</p>
                    </div><!-- /.data -->
                </div><!-- /.col -->
                <div class="col">
                    <a class="movLink" href="https://youtu.be/CpMJomBqrSw" target="_blank"><img
                            src="{% static "atomhome/img/en/mv07.png" %}"></a>
                    <div class="data movData">
                        <strong>{% trans "VR" %}</strong>
                        <p>{% trans "In the near future, people might be able to use VR to travel around the world without leaving the comfort of their own homes. In addition, various new businesses will likely emerge that embrace VR technology. When such new era arrives, overseas remittance of small amounts of money might pose an issue. To preempt such issue, Atom Solutions will work toward expanding the number of countries and regions where the Eternal Wallet can be used." %}</p>
                    </div><!-- /.data -->
                </div><!-- /.col -->
            </div><!-- /.cts-mov -->
        </div><!-- /.wrap -->
    </div><!-- /.top5 -->
    {% include 'atomhome/include/en/footer.html' %}
</div> <!-- /.ctsIndex -->

<script src=" {% static "atomhome/js/common.js" %}"></script>

<!-- SCROLL -->
<script src="{% static "atomhome/js/jquery.simplyscroll.js" %}"></script>
<script>
    $(window).on('load', function () {
        $('.list-slide ul').simplyScroll({
            autoMode: 'loop',
            speed: 1,
            frameRate: 24,
            horizontal: true,
            pauseOnHover: false,
            pauseOnTouch: false
        });
    });
</script>
<!-- SCROLL -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>