{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}

<meta content="AtomSolutions,Eternalcoin,Eternaltoken" name="keywords">
<meta content="" name="description">
<title>Exchange to XET|AtomSolutions</title>



<div class="project-wrap xetVideo01">
	<video src="{% static "atomhome/img/en/movXet.mp4" %}" muted autoplay loop webkit-playsinline playsinline
		preload="metadata"></video>
	<div class="wrap spaceL">
		<div class="award">
			<img class="aw01" src="{% static "atomhome/img/en/award.png" %}" alt="No.1">
			<div>
				<span>As of March 5th, 2019</span>
				<p class="p_aw1">Eternal Token has successfully acquired</p>
				<p class="p_aw2">Top-ranked among Japan's Cryptocurrencies</p>
				<p class="p_aw1">in Coinmarketcap</p>
			</div>
			<img class="aw02" src="{% static "atomhome/img/en/award.png" %}" alt="No.1">
		</div><!-- /.award -->
		<h1 class="cts-ttl-xet_b"><img src="{% static "atomhome/img/en/logo_xet_animation5.gif" %}" alt="ETERNAL TOKEN">
		</h1>
	</div><!-- /.wrap -->
	<div class="wrap spaceL">
		<div class="col">
			<div class="ranking">
				<div><span>XET VALUE</span><strong class="changeOpacity">$</strong><strong class="changeOpacity"
						id="counter">{{ valueint }}</strong></div>
				<a href="https://coinmarketcap.com/currencies/eternal-token/" target="_blank">VIEW OUR PAGE HERE</a>
			</div><!-- /.ranking -->
			<p>XET refers to a token that can be exchanged with Eternal Coin (XEC) at 1:10 ratio.</p>
			<p>Eternal Coin (XEC) can be traded and acquired via authorized exchanges ONLY which leads to the
				disadvantage that XEC can’t be acquired via ANY unauthorized exchanges throughout the world.</p>
			<p>Therefore, Eternal Token (XET) is developed to be listed and tradable with various currencies on global
				exchanges.</p>
			<p>The issuance between two compatible virtual currencies is a new form of virtual currency to solve the
				disadvantage of XEC and other currencies with similar situation.</p>
			<div class="wrapTbl01 ctsPc">
				<table>
					<tr>
						<th> </th>
						<th class="text-effect">XEC</th>
						<th class="text-effect">XET</th>
					</tr>
					<tr>
						<td class="text-effect">Issuer</td>
						<td class="text-effect">Atom Solutions</td>
						<td class="text-effect">Atom Solutions</td>
					</tr>
					<tr>
						<td class="text-effect">Conversion Exchange</td>
						<td class="text-effect">Authorized Exchange : Hong Kong・Korea・Philippines</td>
						<td class="text-effect">Global Exchanges in Countries</td>
					</tr>
					<tr>
						<td class="text-effect">Total Supply</td>
						<td class="text-effect">2 Billion units</td>
						<td class="text-effect">200 Million units</td>
					</tr>
					<tr>
						<td class="text-effect">Advantages</td>
						<td class="text-effect">・Fiat Currency Exchange・Transfer via Phone Number・Value Division
							System・Weekly Dividends Distribution.<br>
							・Guaranteed from Cyber Hacking and Unauthorized Wallet Access.</td>
						<td class="text-effect">・Tradable with Various Currencies on Global Exchanges.</td>
					</tr>
					<tr>
						<td class="text-effect">Disadvantages</td>
						<td class="text-effect">・Tradable with Eternal Coin ONLY.</td>
						<td class="text-effect">・Eternal Wallet functions cannot be used.<br>
							・No guarantee from cyber security like hacking or stolen password.</td>
					</tr>
				</table>
			</div>
			<!-- /.wrapTbl -->

			<div class="wrapTbl01 ctsSp">
				<strong class="ttlXetTabl">XEC</strong>
				<table>
					<tr>
						<td class="text-effect">Issuer</td>
						<td class="text-effect">Atom Solutions</td>
					</tr>
					<tr>
						<td class="text-effect">Conversion Exchange</td>
						<td class="text-effect">Authorized Exchange : Hong Kong・Korea・Philippines</td>
					</tr>
					<tr>
						<td class="text-effect">Total Supply</td>
						<td class="text-effect">2 Billion units</td>
					</tr>
					<tr>
						<td class="text-effect">Advantages</td>
						<td class="text-effect">・Fiat Currency Exchange・Transfer via Phone Number・Value Division
							System・Weekly Dividends Distribution.<br>
							・Guaranteed from Cyber Hacking and Unauthorized Wallet Access.</td>
					</tr>
					<tr>
						<td class="text-effect">Disadvantages</td>
						<td class="text-effect">・Tradable with Eternal Coin ONLY.</td>
					</tr>
				</table>
				<strong class="ttlXetTabl">XET</strong>
				<table>
					<tr>
						<td class="text-effect">Issuer</td>
						<td class="text-effect">Atom Solutions</td>
					</tr>
					<tr>
						<td class="text-effect">Conversion Exchange</td>
						<td class="text-effect">Global Exchanges in Countries</td>
					</tr>
					<tr>
						<td class="text-effect">Total Supply</td>
						<td class="text-effect">200 Million units</td>
					</tr>
					<tr>
						<td class="text-effect">Advantages</td>
						<td class="text-effect">・Tradable with Various Currencies on Global Exchanges.</td>
					</tr>
					<tr>
						<td class="text-effect">Disadvantages</td>
						<td class="text-effect">・Eternal Wallet functions cannot be used.<br>
							・No guarantee from cyber security like hacking or stolen password.</td>
					</tr>
				</table>
			</div><!-- /.wrapTbl -->
		</div><!-- /.col -->
	</div><!-- /.wrap -->
</div><!-- /.project-wrap -->

<div class="project-wrap grayBlk">
	<div class="wrap spaceL">
		<div class="col">
			<h2 class="ttlM">Third-party Evaluation</h2>
			<p class="txtC">Our XET Project and Smart Contract are evaluated as having a high credibility
				<br>and proven secured by third-party organizations.</p>
			<div class="listOutside">
				<a href="https://tokeninsight.com/tokenDetail?cid=20701" target="_blank">
					<img class="fade-effect" src="{% static "atomhome/img/en/rated_b.png" %}" alt="">
				</a>
				<div class="border"></div>
				<a href="{% static "atomhome/pdf/Smart_contract_security_audit_report-XET.pdf" %}" target="_blank">
					<img class="fade-effect" src="{% static "atomhome/img/en/sec_pass.png" %}" alt="">
				</a>
			</div>
			<h2 class="ttlM">XET Tradable Exchange</h2>
			<p class="txtC">XET is tradable via the exchanges below.<br>
				Atom Solutions will continue to get XET listed on different exchanges to increase the value of XET and
				keeping XET circulated on the market</p>
			<div class="listXetSite">
				<div class="col"><a href="https://www.idax.mn/" target="_blank">
						<img src="{% static "atomhome/img/en/bnr-xet-idax.png" %}" alt="IDAX">
					</a></div><!-- /.col -->
				<!--<div class="col"><a href="https://sistemkoin.com/#/" target="_blank">
					<img src="/en/images/bnr-xet-sistemkoin.png" alt="Sistemkoin">
				</a></div>-->
				<div class="col"><a href="https://www.hnb-ex.com/" target="_blank">
						<img src="{% static "atomhome/img/en/bnr-xet-hnb.png" %}" alt="H&B">
						<p>Opening Soon! <br>On June 17th, 2019</p>
					</a></div><!-- /.col -->
				<div class="col"><a href="https://instantbitex.com/" target="_blank">
						<img src="{% static "atomhome/img/en/bnr-xet-instantbitex.png" %}" alt="instantbitex">
					</a></div><!-- /.col -->
				<div class="col"><a href="https://www.oex.com/index" target="_blank">
						<img src="{% static "atomhome/img/en/bnr-xet-oex.png" %}" alt="OEX">
					</a></div>
			</div><!-- /.listXetSite -->
		</div><!-- /.col -->
	</div><!-- /.wrap -->
</div><!-- /.trade-wrap -->

<div class="project-wrap">
	<div class="wrap spaceL">
		<div class="col">
			<h2 class="ttlM">XET ⇔ XEC Conversion</h2>
			<div class="col-flex">
				<img src="{% static "atomhome/img/en/one_to_ten.png" %}" alt="XECとの交換" class="img">
				<div class="txt">
					<p>For conversion between Eternal Coin (XEC) and Eternal Token (XET), please visit to the
						URL
						below.
					</p>
					<p>※In addition, for Japan users, trading or transacting XEC/JPY is not yet available until
						further
						notice.</p>
					<a href="https://tokenhub.asia/" target="_blank"><img
							src="{% static "atomhome/img/en/bnr-xet-tokenhub.png" %}" alt="TokenHub"></a>
				</div><!-- /.txt -->
			</div><!-- /.col-flex -->
		</div><!-- /.col -->
	</div><!-- /.wrap -->
</div><!-- /.project-wrap -->



<div class="blk_member">
	<div class="inner">
		<h2>XET CORE TEAM</h2>
		<div class="list">
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Fujino-Hiroyuki.jpg" %}">
					<div class="hide">
						<p>Fujino Hiroyuki has over 10 years experiences of leading industry expertise in
							founding
							and
							co-founding numerous companies in domestic and international marketplaces.</p>
						<a href="https://www.linkedin.com/in/hiroyuki-fujino-10a9ab175/" target="_blank"><img
								src="{% static "atomhome/img/en/ico_in mark.png" %}"></a>
					</div>
				</div>
				<p class="name">Fujino Hiroyuki</p>
				<p class="job">Chief Executive Officer</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Hayashi-Hirokazu.jpg" %}">
					<div class="hide">
						<p>Hayashi Hirokazu is highly acclaimed with records of excellence in all areas of
							Finance
							and
							Fund Management supported by strength in sales marketing, PR and BD.</p>
						<a href="https://www.linkedin.com/in/hirokazuhys/" target="_blank"><img
								src="{% static "atomhome/img/en/ico_in mark.png" %}"></a>
					</div>
				</div>
				<p class="name">Hayashi Hirokazu</p>
				<p class="job">Chief Financial Officer</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Clement-S.J.jpg" %}">
					<div class="hide">
						<p>An experienced director of overseas business development with demonstrated history of
							working
							in blockchain and cryptocurrency industry.</p>
						<a href="https://www.linkedin.com/in/clementcj/" target="_blank"><img
								src="{% static "atomhome/img/en/ico_in mark.png" %}"></a>
					</div>
				</div>
				<p class="name">Clement S.J</p>
				<p class="job">Head of Partnership<br>
					&<br>
					Business Development</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Kimura-Shun.jpg" %}">
					<div class="hide">
						<p>Graduated from Tokyo University of Science with master degree majored in Engineering
							Management. 5 years experience in Mobile app development industry and specializing
							in
							developing Internet applications based real-time interaction system.</p>
					</div>
				</div>
				<p class="name">Kimura Shun</p>
				<p class="job">Chief Technology Officer</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Saito-Rie.jpg" %}">
					<div class="hide">
						<p>An organized and creative professional with proven marketing skills and over years
							experiences in brand design coordinator for a diverse variety of organization and
							clients.
						</p>
						<a href="https://www.linkedin.com/in/rie-saito/" target="_blank"><img
								src="{% static "atomhome/img/en/ico_in mark.png" %}"></a>
					</div>
				</div>
				<p class="name">Saito Rie</p>
				<p class="job">Chief Marketing Officer</p>
			</div>

			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Yanaka-Hiroki.jpg" %}">
					<div class="hide">
						<p>Experienced in overall corporate governance and strategy, business development of
							international markets, and overseeing global investment and incubation programs.</p>
					</div>
				</div>
				<p class="name">Yanaka Hiroki</p>
				<p class="job">Chief Strategy Officer</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Isobe-Misaki.jpg" %}">
					<div class="hide">
						<p>Accomplished creative professional with a proven track record in all aspects of the
							end-to-end creative process ranging from conceptualizing to execution.</p>
					</div>
				</div>
				<p class="name">Isobe Misaki</p>
				<p class="job">Graphic and UI Designer</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Carl-Vincent-Pagaunsan-Olmo.jpg" %}">
					<div class="hide">
						<p>Dynamic leader with extensive experience in R&D, Product Development, Engineering and
							proven
							track record in jump-starting product development.</p>
						<a href="https://www.linkedin.com/in/carl-vincent-olmo-6a070413b/" target="_blank"><img
								src="{% static "atomhome/img/en/ico_in mark.png" %}"></a>
					</div>
				</div>
				<p class="name">Carl Vincent<br>
					Pagaunsan Olmo</p>
				<p class="job">Senior Developer</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Nyamerdene-Davaadorj.jpg" %}">
					<div class="hide">
						<p>Experienced BD Associate who is strong at utilizing current trends to develop sales
							projections. Adept at developing effective spreadsheets creating engaging
							presentations.
						</p>
						<a href="https://www.linkedin.com/in/davaadorj-nyam-erdene-a2b6b5130" target="_blank"><img
								src="{% static "atomhome/img/en/ico_in mark.png" %}"></a>
					</div>
				</div>
				<p class="name">Nyamerdene<br>
					Davaadorj</p>
				<p class="job">Business Development<br>
					Associate</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Susuta-Kazu.jpg" %}">
					<div class="hide">
						<p>Versatile, hands-on technical leader who enhances global market presence for leading
							software
							corporations, with extensive expertise in scalable, single-solution development for
							diverse
							customer needs.</p>
						<a href="https://www.linkedin.com/in/kazu-susuta-987b76175/" target="_blank"><img
								src="{% static "atomhome/img/en/ico_in mark.png" %}"></a>
					</div>
				</div>
				<p class="name">Susuta Kazu</p>
				<p class="job">Deputy Chief<br>
					Technology Officer</p>
			</div>
		</div>

		<h2>ATOM SOLUTIONS GROUP</h2>
		<div class="list">
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Maria-Barcelona.jpg" %}">
					<div class="hide">
						<p>A former International Market Managing Director of Eternal Link Japan, now the
							President
							and
							Chief Executive Officer of Eternal Wallet PH Holdings Inc.</p>
					</div>
				</div>
				<p class="name">Maria Barcelona</p>
				<p class="job">CEO of Eternal Wallet PH</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Rahmir-R.-Ortuoste.jpg" %}">
					<div class="hide">
						<p>He graduated from Notre Dame University of Cotabato City with a degree of Computer
							Engineering.<br>
							He started working in the BPO industry in 2007. After 5 years, he started working
							online
							at
							home as an educator and an adviser.</p>
						<a href="https://www.linkedin.com/in/guy-ortuoste-67565b177/" target="_blank"><img
								src="{% static "atomhome/img/en/ico_in mark.png" %}"></a>
					</div>
				</div>
				<p class="name">Rahmir R. Ortuoste</p>
				<p class="job">CAO of Eternal Wallet PH</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Grace-Anne-Marie-Barcelona.jpg" %}">
					<div class="hide">
						<p>She oversees a company’s business operations and reports to the CEO. Ensures the
							company
							has
							effective operational and financial procedures in place.</p>
						<a href="https://www.linkedin.com/in/grace-anne-marie-barcelona-75b777148/" target="_blank"><img
								src="{% static "atomhome/img/en/ico_in mark.png" %}"></a>
					</div>
				</div>
				<p class="name">Grace Anne<br>
					Marie Barcelona</p>
				<p class="job">COO of Eternal Wallet PH</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Arven-Jay-Abelo.jpg" %}">
					<div class="hide">
						<p>Arven Jay Abelo is responsible for maintaining and improving the performance of the
							existing
							software to ensure its functionality, optimization and recommend improvements to
							existing
							software programs.</p>
					</div>
				</div>
				<p class="name">Arven Jay Abelo</p>
				<p class="job">IT Software Developer</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/John-Riggo-Tolentino.jpg" %}">
					<div class="hide">
						<p>In charge of developing computer applications that allow users to perform specific
							tasks
							on
							computers or other devices. He also develops or customizes existing systems that run
							devices
							or control networks.</p>
					</div>
				</div>
				<p class="name">John Riggo<br>
					Tolentino</p>
				<p class="job">IT Software Developer</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Melbourne-Lee-Mondido.jpg" %}">
					<div class="hide">
						<p>He has qualifications in project management, sales, and customer relations with
							excellent
							communication and administrative skills to effectively work both invidually and part
							of
							a
							team.</p>
					</div>
				</div>
				<p class="name">Melbourne<br>
					Lee Mondido</p>
				<p class="job">Marketing Associate</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/John-Emerson-Buenviaje.jpg" %}">
					<div class="hide">
						<p>John Emerson Buenviaje has 5 years experience in web & graphic designing. Graduated
							BSIT
							(Bachelor of Science in Information & Technology) major in Multimedia.</p>
					</div>
				</div>
				<p class="name">John Emerson<br>
					Buenviaje</p>
				<p class="job">Graphic Designer</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Thanie-J.-Manial-Jr.jpg" %}">
					<div class="hide">
						<p>He monitors expenditures, revenue, and use of company resources to ensure businesses
							operate
							within the budget and responsible for internal auditing, analyzing and submitting
							accounting
							reports.</p>
					</div>
				</div>
				<p class="name">Thanie J. Manial Jr</p>
				<p class="job">Accounting Office</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Mary-Anne-C.-Visaga.jpg" %}">
					<div class="hide">
						<p>She manages the financial resources of the company to ensure the efficient and
							effective
							functioning of its operation. She creates financial and regulatory reports to the
							management
							and other stakeholders.</p>
					</div>
				</div>
				<p class="name">Mary Anne C.<br>
					Visaga</p>
				<p class="job">Accounting Office</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Aika-S.-Parondo.jpg" %}">
					<div class="hide">
						<p>She is responsible for ensuring the established standard of quality including
							reliability
							and
							usability of specific IT project. She holds a degree of Bachelor of science in
							information
							technology from University of Mindanao.</p>
					</div>
				</div>
				<p class="name">Aika S. Parondo</p>
				<p class="job">IT Quality<br>
					Assurance Offcer</p>
			</div>
		</div>

		<h2>ADVISORY BOARD</h2>
		<div class="list">
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Shimizu Masahiro.jpg" %}">
					<div class="hide">
						<p>Attorney of Takechi & Partners, Member of the Tokyo Bar Association.</p>
					</div>
				</div>
				<p class="name">Shimizu Masahiro</p>
				<p class="job">Legal Advisor</p>
			</div>
			<div class="col">
				<div class="tmb">
					<img src="{% static "atomhome/img/en/member/Reynaldo-V.-Garote.jpg" %}">
					<div class="hide">
						<p>Head of Human Resource Practitioner and Mindanao Trustee of People Management
							Association
							of
							the Philippines.</p>
					</div>
				</div>
				<p class="name">Reynaldo V.Garote</p>
				<p class="job">Head of Human Resource</p>
			</div>
		</div>
	</div>
</div><!-- /.blk_member -->



<div class="project-wrap blkBlue">
	<div class="wrap spaceL">
		<div class="col">
			<h3 class="ttlS">XET Whitepaper</h3>
			<div class="box-btn-area">
				<a href="{% static "atomhome/whitepaper/XET_whitepaperver.2.0ja.pdf" %}" target="_blank">日本語</a>
				<a href="{% static "atomhome/whitepaper/XET_whitepaperver.2.0en.pdf" %}" target="_blank">English</a>
				<a href="{% static "atomhome/whitepaper/XET_whitepaperver.2.0kr.pdf" %}" target="_blank">한국어</a>
				<a href="{% static "atomhome/whitepaper/XET_whitepaperver.2.0mn.pdf" %}" target="_blank">Монгол хэл</a>
				<a href="{% static "atomhome/whitepaper/XET_whitepaperver.2.0cn.pdf" %}" target="_blank">中文</a>
			</div><!-- /.box-btn-area -->
			<h3 class="ttlS">XET Community</h3>
			<div class="box-btn-area">
				<a href="https://twitter.com/AdminXet" target="_blank">Twitter</a>
				<a href="https://t.me/xetofficial" target="_blank">Telegram</a>
			</div><!-- /.box-btn-area -->
		</div><!-- /.col -->
	</div><!-- /.wrap -->
</div><!-- /.project-wrap -->

{% include 'atomhome/include/en/footer.html' %}

<script src=" {% static "atomhome/js/common.js" %}"></script>
<script src="{% static "atomhome/js/jquery.textEffect.js" %}"></script>
<script src="{% static "atomhome/js/jquery-numerator.js" %}"></script>
<script>
	$(function () {
		$(".text-effect").textEffect()
	});
</script>
<script type="text/javascript">
	$("#counter").counterUp({ delay: 10, time: 1500 });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
	$(document).ready(function () {
		$.ajax({


			success: function (response) {
				$('#count-box').text('');
				// $('#count-box').text(response)
				setto(response)
			}
		});
		function setto(res) {
			// $('#count-box').CountUpCircle({
			//     duration: 1000,
			//     opacity_anim: true,
			//     step_divider: 1
			// });
			$('#count-box').numerator({
				duration: 2500,
				rounding: 2,
				toValue: res,
			});
			$('.changeOpacity').css('opacity', '1');

		}
	});


	$(function () {
		$(window).scroll(function () {
			$(".fade-effect").each(function () {
				var imgPos = $(this).offset().top;
				var scroll = $(window).scrollTop();
				var windowHeight = $(window).height();
				if (scroll > imgPos - windowHeight + windowHeight / 4) {
					$(this).addClass("fadein");

				} else {
					$(this).removeClass("fadein");
				}
			});
		});
	});


	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-108481174-1');
</script>