{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}


<meta content="アトムソリューションズ,AtomSolutions,エターナルコイン,Eternalcoin,仮想通貨,エターナルトークン,Eternaltoken" name="keywords">
<meta
    content="アトムソリューションズは仮想通貨エターナルコインの発行、運営、開発業務を行っております。仮想通貨を利用しアイデアと行動力で世界をもっと豊かに、そして便利にするフィンテック企業です。アトムソリューションズオフィシャルページはこちら"
    name="description">
<title>リクルート｜アトムソリューションズ</title>



<div class="page-ttl-r4">
    <div class="wrap spaceL">
        <h1 class="ttlPage2">ケニアで働きたい方<span>最後のフロンティアと言われているアフリカで働く<br class="forSp">スタッフを募集しています。</span></h1>
    </div><!-- /.wrap -->
</div><!-- /.page-ttl -->
<div class="recruitarea">
    <div class="wrap spaceL">
        <div class="col">
            <div class="recruitbox">
                <p>アトムソリューションズでは、ケニアの現地法人と共同で、エターナルコインの公認取引所開設の準備を進めています。<br>
                    ケニア公認取引所の運営法人は、現地の金の採掘や医療品の販売等を行っている企業ですが、エターナルコインの公認取引所業務だけでなく、金の所有権をブロックチェーン上で管理する事業や、
                    エターナルウォレットと電子マネー（Mペサ）との連動を行いたいとの要望もあり、ケニアにて日本との橋渡し的な業務を行う事となります。<br><br>
                    仮想通貨を取り巻く環境は日々刻々と変化し進化しています。<br>
                    そんな新しい業界で世界へと飛び出してみませんか？<br><br>
                    ※必須条件<br>
                    ・英語が話せる事<br>
                    ・バイタリティーがある事<br>
                    ・仮想通貨やFintech業界に興味がある方<br><br>
                    給与や待遇は、経験やスキルによって決定しますので、詳細については以下よりお問合せ下さい。</p>
                <div class="blk-mail">
                    <a href="{% url 'contact' %}">お問い合わせ</a>
                </div><!-- /.blk-mail -->
            </div>
        </div><!-- /.col -->
    </div><!-- /.wrap -->
</div><!-- /.ricruitarea -->


{% include 'atomhome/include/en/footer.html' %}
<script src="{% static "atomhome/js/common.js" %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>