{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}


<meta content="アトムソリューションズ,AtomSolutions,エターナルコイン,Eternalcoin,仮想通貨,エターナルトークン,Eternaltoken" name="keywords">
<meta
    content="アトムソリューションズは仮想通貨エターナルコインの発行、運営、開発業務を行っております。仮想通貨を利用しアイデアと行動力で世界をもっと豊かに、そして便利にするフィンテック企業です。アトムソリューションズオフィシャルページはこちら"
    name="description">
<title>リクルート｜アトムソリューションズ</title>



<div class="page-ttl-r02">
    <div class="wrap spaceL">
        <h1 class="ttlPage2">
            バックオフィス<span>アトムソリューションズでは、主婦・共働き・シングルマザーの方など、どんな環境の方でも働きやすく、そして頑張りは正当に評価し、給与に還元します。<br>自分のスキルや経験を深めたり、新しいジャンルを開拓したりすることが出来、全ての働く人を応援します！</span>
        </h1>
    </div><!-- /.wrap -->
</div><!-- /.page-ttl -->
<div class="cts_recruit">
    <div class="wrap spaceL">
        <div class="col_box">
            <h2 class="ttlA">募集要項</h2>
            <table class="tbl_recruit">
                <tr>
                    <th>勤務地</th>
                    <td>東京都中央区日本橋茅場町2-7-6　晴花ビル6F</td>
                </tr>
                <tr>
                    <th>職種</th>
                    <td>バックオフィス</td>
                </tr>
                <tr>
                    <th>雇用形態</th>
                    <td>アルバイト・正社員選べます。</td>
                </tr>
                <tr>
                    <th>応募資格</th>
                    <td>年齢・学歴不問<br>
                        簿記資格取得者・経理経験者歓迎<br>
                        業界未経験者OK!</td>
                </tr>
                <tr>
                    <th>時給</th>
                    <td>1,000円～</td>
                </tr>
                <tr>
                    <th>昇給</th>
                    <td><strong>毎月昇給制度</strong></td>
                </tr>
                <tr>
                    <th>営業時間</th>
                    <td>9：00～19：00</td>
                </tr>
                <tr>
                    <th>勤務時間</th>
                    <td>上記の営業時間内にてご自身で<strong>好きな時間</strong>を選んで下さい。</td>
                </tr>
            </table>
            <h2 class="ttlA">社内制度</h2>
            <ul>
                <li>時短OK！早退OK！遅番OK！　(育児による時短勤務可)</li>
                <li>男女トイレ別・個人ロッカー有　(プライバシーもきっちり守れます)</li>
                <li>休憩1時間　(12時～14時の間でお好きなタイミングで自由に休憩を取っていただけます)</li>
                <li>交通費全額支給　(上限2万円)</li>
                <li>正社員登録制度有</li>
                <li>各種保険完備</li>
                <li>昇給有り　(毎月昇給制度)</li>
                <li>賞与有り　(年1回/業績による)</li>
                <li>定期健康診断(年1回)</li>
                <li>夏季・年末年始・有給休暇あり</li>
            </ul>
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_recruit -->

<div class="cts_recruit_caseTtl">
    <div class="wrap spaceL">
        <img src="{% static "atomhome/img/en/ico-r02-case01.png" %}" alt="モデルケースA">
        <p>モデルケースA<span>入社1年目 31歳 女性</span></p>
    </div><!-- /.wrap -->
</div><!-- /.cts_recruit_caseTtl -->

<div class="cts_recruit_cate01">
    <div class="wrap spaceL">
        <div class="col_box">
            <p>現在2児のシングルマザーですが、ひとりで子育てしながら家事も仕事もとなると、困るのがイレギュラーのときですよね。<br>
                どうしても仕事の穴があけられない、子どもが体調不良になってしまった、学校の行事がある、というような緊急時でもアトムソリューションズでは、急な休みの場合のバックアップ体制が完備されています。<br>
                私は9：00～17：00の勤務で、退社後は家事や家族団欒の時間が取れたりと、プライベートも充実させることが出来ています。<br>
                子供を寝かせてから勉強する時間も取れますし、何より仕事と育児を両立しながら働くことが体力的にも時間的にも一番不自由を感じていましたが、アトムソリューションズに入社してから、「仕事か育児か」という二者択一ではなく、当たり前に両立できることにとても感謝しています。
            </p>
            <p>会社自体が女性の就労を積極的に支援していることもあり、シングルマザーでも正社員として経験を重ねることができ、スキルを積み重ねていけることで働く事に大きな喜びを感じられるようになりました。</p>
            <p>ライフスタイルに合わせた働き方で、もし悩んでいたら、ぜひ一度アトムソリューションズにお越しください。<br>
                働く意欲のある女性を応援してくれる会社です。<br>
                キャリアアップを考えている方、スキルアップしたい方、出産の為ブランクがある方、もう一度バリバリ働きたい方、一緒に働くスタッフにも子育て世代がいますので、フォローしあえる仲間がいます。<br>
                勤務面の不安やプライベートな事など、みんなでサポートしていきますので、キャリアも育児も両立している素敵な女性ロールモデルになりませんか？<br>
                アトムソリューションズでは、みなさん事情は違うけれど仕事でも子育てでもチャレンジして頑張っている女性を応援する会社を目指しています。</p>
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_recruit -->


{% include 'atomhome/include/en/footer.html' %}

<script src=" {% static "atomhome/js/common.js" %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>

</body>

</html>