{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}


<meta content="アトムソリューションズ,AtomSolutions,エターナルコイン,Eternalcoin,仮想通貨,エターナルトークン,Eternaltoken" name="keywords">
<meta
    content="アトムソリューションズは仮想通貨エターナルコインの発行、運営、開発業務を行っております。仮想通貨を利用しアイデアと行動力で世界をもっと豊かに、そして便利にするフィンテック企業です。アトムソリューションズオフィシャルページはこちら"
    name="description">
<title>リクルート｜アトムソリューションズ</title>


<div class="page-ttl-r6">
    <div class="wrap spaceL">
        <h1 class="ttlPage2 fix-back2">海外事業部門<span>世界中を飛び回りエターナルコインを広げる業務です。</span></h1>
    </div><!-- /.wrap -->
</div><!-- /.page-ttl -->

<div class="cts_recruit">

    <div class="blk_rec06_01">
        <div class="inner">
            <strong>【弊社について】 - About us</strong>
            <p>弊社、アトムソリューションズは仮想通貨開発事業・関連コンサルティング事業を行うフィンテック企業で、弊社発行のエターナルトークンはマーケットキャップのランキングで日本１位を獲得した、国内で最も勢いのある仮想通貨です。
                <br>現在は東南アジアをメインに展開をしており、既に海外取引所を３社展開しています。
                <br>これからよりスピード感をもって世界中に展開するために、最先端の業界で一緒に問題解決をする仲間を募集しています。
            </p>
        </div>
    </div>

    <div class="blk_rec06_02">
        <div class="inner">
            <strong>【ミッション】 - Mission</strong>
            <p>主力プロダクトの「エターナルウォレット」を世界中に広め、海外送金を世界一安く行うこと。
                <br>新しい金融インフラ・サービスを各国に届けることで、世界中の人々の笑顔を増やし、「新しい金融」への啓蒙を行っていきます。
            </p>
            <strong>【弊社で働くことのメリット】 - The benefits of working with us</strong>
            <p>・裁量が大きく、手を挙げればなんでもできる環境です。
                <br>・聞けばなんでも教えてくれるオープンな職場で、自立まで丁寧にサポートします。
                <br>・問題解決をした人がダイレクトに評価されるため、問題解決能力が身につきます。
            </p>
            <strong>【求める人材】 - Ideal candidate</strong>
            <p>今年度からは更にスピード感を持って海外取引所を増やすことを計画しており、年内に10箇所を目指しています。
                <br>その為、海外経験・語学力があり、積極性のある人材を求めています。
                <br>具体的には：
                <br>・自主的に問題を発見し、解決できる主体性がある方
                <br>・英語・日本語で準ネイティブレベルのコミュニケーションがとれる方
                <br>・営業力・コミュニケーション能力の高い方
                <br>・仮想通貨・ブロックチェーン・金融業界への知見がある、または勉強できる方
            </p>
        </div>
    </div>

    <div class="wrap spaceL">
        <div class="col_box">
            <h2 class="ttlA">募集要項</h2>
            <table class="tbl_recruit">
                <tr>
                    <th>勤務地</th>
                    <td>東京都中央区日本橋茅場町2-7-6　晴花ビル6F</td>
                </tr>
                <tr>
                    <th>職種</th>
                    <td>海外事業部門</td>
                </tr>
                <tr>
                    <th>雇用形態</th>
                    <td>正社員</td>
                </tr>
                <tr>
                    <th>給与</th>
                    <td>3,000,000円～12,000,000円 /年収</td>
                </tr>
                <tr>
                    <th>昇給</th>
                    <td><strong>毎月昇給制度</strong></td>
                </tr>
                <tr>
                    <th>勤務時間・休日</th>
                    <td>9:00～18:00 （海外出張により勤務時間変動有）<br>週休二日制</td>
                </tr>
            </table>
            <h2 class="ttlA">社内制度</h2>
            <ul>
                <li>各種保険完備</li>
                <li>昇給有り　(毎月昇給制度)</li>
                <li>賞与有り　(年1回/業績による)</li>
                <li>定期健康診断(年1回)</li>
                <li>夏季・年末年始・有給休暇あり</li>
                <li>交通費全額支給　(上限2万円)</li>
                <li>休憩1時間　(12時～14時の間でお好きなタイミングで自由に休憩を取っていただけます)</li>
            </ul>
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_recruit -->




{% include 'atomhome/include/en/footer.html' %}

<script src="{% static "atomhome/js/common.js" %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>