{% load staticfiles %}
{% include 'atomhome/include/en/head.html' %}
{% include 'atomhome/include/en/nav.html' %}
{% load i18n %}

<meta content="" name="keywords">
<meta content="" name="description">
<title>{% trans "OUTLINE|AtomSolutions" %}</title>

<div class="company-main">
    <div class="wrap spaceL">
        <img src="{% static "atomhome/img/en/company-main.jpg" %}" alt="ATOM SOLUTIONS">
    </div><!-- /.wrap -->
    <div class="ico-scroll">
        <img src="{% static "atomhome/img/en/ico-scroll.png" %}" alt="SCROLL" class="ico-down">
        <span>SCROLL</span>
    </div><!-- /.ico-scroll -->
</div><!-- /.company-main -->
<div class="cts_com">
    <div class="wrap spaceL">
        <div class="col_box">
            <p class="com_txt_front">{% trans "Atom Solutions Co., Ltd. was founded by Hiroyuki Fujino on May of 2010. The company was developed and founded because of the outburst technology of the Blockchain industry. The company provides system development programs for including but not limited to Virtual Currencies and Blockchain technology as well as consultant services in Virtual Currency Exchange Operation & Management." %}</p>
            <h2 class="ttlM">{% trans "ROAD MAP" %}</h2>
            <div class="cts_roadmap">
                <p class="rm_year">{% trans "2019" %}</p>
                <dl>
                    <dt>{% trans "April" %}</dt>
                    <dd>{% trans "XET has passed Smart Contract Security Audit by BEOSIN" %}</dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd>{% trans "Released introductory video of 'EVOR' our new exchange service" %}/dd>
                </dl>
                <dl>
                    <dt>{% trans "March" %}</dt>
                    <dd>{% trans "XET project has acquired B from TokenInsight assessment." %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "February" %}</dt>
                    <dd>{% trans "ONE-TOUCH TRANSFER Patent, Approved Successfully" %}</dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "Formed Business Partnership with CIS Bayad Center" %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "January" %}</dt>
                    <dd>{% trans "Listed and Started trading of XET on Instantbitex and OEX" %}</dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd>{% trans "Trademark Registered" %}</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year">{% trans "2018" %}</p>
                <dl>
                    <dt>{% trans "December" %}</dt>
                    <dd>{% trans "Value Division and DOT Patents Acquired" %}</dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "Eternal Token (XET) is now 40th on the ranking site!" %}</dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "World’s Lowest Overseas Remittance Service Simulator Is now AVAILABLE!" %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "November" %}</dt>
                    <dd>{% trans "PCT Patent filed." %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "October" %}</dt>
                    <dd>{% trans "Attended Blockchain & Digital Innovation Event, Delta Summit in Malta." %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "September" %}</dt>
                    <dd>{% trans "Partnership with Eternal Wallet PH Holdings" %}</dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "Eternal Token (XET) is now 50th on the ranking site!" %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "August" %}</dt>
                    <dd>{% trans "Listed XET on CoinMarketCap and other major ranking websites." %}</dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "Eternal Token (XET) is now 110th on the ranking site!" %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "June" %}</dt>
                    <dd>{% trans "Partnership with H&B Exchange and started trading XET on Idax" %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "May" %}</dt>
                    <dd>{% trans "Developed and launched of Eternal Token (XET)" %}</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">{% trans "2017" %}</p>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "Developed and launched of ELook Application" %}</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year">{% trans "2016" %}</p>
                <dl>
                    <dt>{% trans "May" %}</dt>
                    <dd>{% trans "Partnership and started of Korea Authorized Exchange" %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "March" %}</dt>
                    <dd>{% trans "Eternal Square has reached 100 merchants" %}</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year">{% trans "2015" %}</p>
                <dl>
                    <dt>{% trans "December" %}</dt>
                    <dd>{% trans "Partnership and started of Hong Kong Authorized Exchange" %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "September" %}</dt>
                    <dd>{% trans "Partnership and started of Philippine Authorized Exchange" %}</dd>
                </dl>
                <dl>
                    <dt>{% trans "January" %}</dt>
                    <dd>{% trans "Released Eternal Coin and started service of Eternal Wallet" %}</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">{% trans "2014" %}</p>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "Drafting and consulting to first Eternal Coin authorized Exchange (Japan)" %}</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">{% trans "2013" %}</p>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "Developing Eternal Coin and Eternal Wallet" %}</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">{% trans "2012" %}</p>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "Drafting ideas of Blockchain business" %}</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">{% trans "2011" %}</p>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "Recruitment and marketing research" %}</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
            <div class="cts_roadmap">
                <p class="rm_year min">{% trans "2010" %}</p>
                <dl>
                    <dt> </dt>
                    <dd>{% trans "Established of Atom Solutions with Capital at 95 Million yen." %}</dd>
                </dl>
            </div><!-- /.cts_roadmap -->
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com -->
<div class="cts_com_vision">
    <div class="wrap spaceL">
        <h2 class="ttlM">{% trans "OUR VISION" %}</h2>
        {% get_current_language as LANGUAGE_CODE%}
        {% if LANGUAGE_CODE == "en-us" %}
        <p>{% trans "To be the leading Virtual Currency Exchange & Blockchain company and to bring inspiration and innovation to the world." %}</p>
        {% else %}
        <p>主要なバーチャル通貨交換＆ブロックチェーン企業であり、世界にインスピレーションと革新をもたらします。<br >
            私たちは、エターナルウォレットを通じて、世界最安値で海外送金を実現し、海外送金革命を起こします。</p>
            {% endif %}
    </div><!-- /.wrap -->
</div><!-- /.cts_com_vision -->
<div class="cts_com_v voice01">
    <div class="wrap spaceL">
        <div class="col_box">
            <h2 class="ttlB">
                {% get_current_language as LANGUAGE_CODE%}
                {% if LANGUAGE_CODE == "en-us" %}
                {% trans "Become the leading company in Financial Technology (Fin-Tech) Industry" %}</h2>
                {% else %}
                <h2 class="ttlB">私たちはフィンテック業界の <br >
                    リーディングカンパニーを目指します</h2>
                    {% endif %}
            <p>{% trans "Being one of the expeditious software industry, we always demonstrate our potential ability by moving forward and always one step ahead of other company.. We aim to become a leading company using our own technical capabilities and innovative ideas in both software and virtual currency industries." %}</p>
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com_v -->
<div class="cts_com_v voice02">
    <div class="wrap spaceL">
        <div class="col_box">
            <h2 class="ttlB">{% trans "Professional ITs" %}</h2>
            {% get_current_language as LANGUAGE_CODE%}
            {% if LANGUAGE_CODE == "en-us" %}
            <p>{% trans "We have professional IT team and solutions to meet the requirements of our clients and eventually to the society in general. We are a group of high valued engineers who never stop in acquiring the latest knowledge." %}</p>
            {% else %}
            <p>私たちは、常に最新の技術を学び習得する事によって、多くの顧客のニーズに答えられる体制を整えます。<br >また、日本だけでなくフィリピンにも開発拠点があり、様々な開発の受注が可能となっております。</p>
            {% endif %}
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com_v -->
<div class="cts_com_v voice03">
    <div class="wrap spaceL">
        <div class="col_box">
            <h2 class="ttlB">{% trans "Healthy Company" %}</h2>
            {% get_current_language as LANGUAGE_CODE%}
            {% if LANGUAGE_CODE == "en-us" %}
            <p>{% trans "We believe that companies with healthy management structures and attitudes will produce high quality of human resources. We strive to bring a sense of relaxation and happiness to our customers, employees, and their families." %}</p>
            {% else %}
            <p>健全で風通しのよい会社は、優秀な人材が集まり、そして人材が育つと私たちは信じています。<br >
                    私たちは従業員だけなく、顧客を含めたすべてのステークホルダーに満足してもらえる会社を目指しています。</p>
            {% endif %}
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com_v -->
<div class="cts_com_v voice04">
    <div class="wrap spaceL">
        <div class="col_box">
            <h2 class="ttlB">{% trans "MISSION" %}</h2>
            <p>{% trans "We intend to improve the efficiency of financial services by reducing cost and creating a convenient transaction system." %}</p>
            {% get_current_language as LANGUAGE_CODE%}
            {% if LANGUAGE_CODE == "en-us" %}
            <p>{% trans "We strive to achieve the highest technical expertise, while bringing unique Japanese sensitivity into the business of virtual currencies." %}</p>
            {% else %}
            <p>利用可能国を今後も増やしていき、サービスの利便性を高めます。<br >

                    私たちは仮想通貨とエターナルウォレットを融合したフィンテック革命を最高のチームとともに実現します。</p>
            {% endif %}
            
            <p>{% trans "Our goal is to create and provide future financial services to our customers not only in Asia but also in the world." %}</p>
            <p>{% trans "You can find other ETERNAL COIN authorized exchanges in the world." %}</p>
        </div><!-- /.col_box -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com_v -->

<div class="cts_com_map">
    <div class="wrap spaceL">
        <img src="{% static "atomhome/img/en/com_map.png" %}" class="com_map">
        <div class="com_exchanges">
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico-el.png" %}" alt="JAPAN">
                </div><!-- /.ico -->
                <div class="txt">{% trans "JAPAN" %}</div>
            </div><!-- /.col -->
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico-th.png" %}" alt="PHILIPPINES">
                </div><!-- /.ico -->
                <div class="txt">{% trans "PHILIPPINES" %}</div>
            </div><!-- /.col -->
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico-eh.png" %}" alt="HONG KONG">
                </div><!-- /.ico -->
                <div class="txt">{% trans "HONG KONG" %}</div>
            </div><!-- /.col -->
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico-ek.png" %}" alt="KOREA">
                </div><!-- /.ico -->
                <div class="txt">{% trans "KOREA" %}</div>
            </div><!-- /.col -->
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico-eeal_off.png" %}" alt="KENYA">
                </div><!-- /.ico -->
                <div class="txt off">{% trans "KENYA" %}</div>
            </div><!-- /.col -->
            <div class="col">
                <div class="ico">
                    <img src="{% static "atomhome/img/en/ico_comingsoon.png" %}" alt="MONGOLIA">
                </div><!-- /.ico -->
                <div class="txt off">{% trans "MONGOLIA" %}</div>
            </div><!-- /.col -->
        </div><!-- /.com_exchanges -->
    </div><!-- /.wrap -->
</div><!-- /.cts_com_map -->
<div class="outline">
    <div class="wrap spaceL">
        <div class="col">
            <h2 class="ttlM">{% trans "OUTLINE" %}</h2>
            <table>
                <tr>
                    <th>{% trans "Company Name" %}</th>
                    <td>{% trans "ATOM SOLUTIONS CO., LTD." %}</td>
                </tr>
                <tr>
                    <th>{% trans "Company Address" %}</th>
                    <td>{% trans "5F Sei Bi Do Bldg, 2-31-16 Eitai Kouto-Ku, 135-0034, Tokyo" %}</td>
                </tr>
                <tr>
                    <th>{% trans "Inquiry" %}</th>
                    <td>info@atom-solutions.jp</td>
                </tr>
                <tr>
                    <th>{% trans "President" %}</th>
                    <td>{% trans "Hiroyuki Fujino" %}</td>
                </tr>
                <tr>
                    <th>{% trans "Capital Investment" %}</th>
                    <td>{% trans "95,000,000 JPY" %}</td>
                </tr>
            </table>
        </div><!-- /.col -->
    </div><!-- /.wrap -->
</div><!-- /.outline -->
{% include 'atomhome/include/en/footer.html' %}

<script src="{% static "atomhome/js/common.js" %}"></script> <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108481174-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108481174-1');
</script>